[2015-10-04 04:35] lowks opened #1 "github url on hex.pm goes to 404"
Hi just to let you know that your `hex.pm` github is pointing to:

https://github.com/robconery/stripe-elixir

instead of

https://github.com/robconery/stripity-stripe

[2015-10-04 15:25] robconery commented on #1
Hey thanks!

[2015-10-04 15:26] lowks commented on #1
No problem glad to help
On Sun, 4 Oct 2015 at 11:25 PM Rob Conery <notifications@github.com> wrote:

[2015-10-04 21:32] #1 closed

[2015-10-28 23:13] jots opened #2 "error connecting"
Hello,
I'm brand new to elixir, so pretty sure I'm doing something wrong.

I added `config :usestripe, secret_key: "sk_test_XXX"`
to config/config.exs

usestripe_test.exs look like:
[code]
test_helper.exs looks like:
[code]

`mix test` results in:
[code]

What am I missing?  On elixir v1.1.0

[2015-10-28 23:34] robconery commented on #2
You're close! Try `config :stripe, secret_key: "sk_test_XXX"`

[2015-10-28 23:42] jots commented on #2
when I change it to `config :stripe, secret_key: "sk_test_XXX"`
I get a different error:
[code]

[2015-10-28 23:47] robconery commented on #2
Ahh - crud. My fault, you also need to add it to your applications:

[code]

I'll update the README :)

[2015-11-27 08:33] Structed opened #4 "Link from hex to github page incorrect"
Not a source issue of course, but I found that the easiest thing to point it out:

Hex is pointing to https://github.com/robconery/stripe-elixir rather than to https://github.com/robconery/stripity-stripe

[2015-11-27 17:28] robconery commented on #4
Yeah I know - I can't get them to update the package settings. Not sure why.

[2015-12-01 16:17] napcs opened #6 "README should explain how to add to supervision tree"
For the life of me I can't figure out what I have to do to get this working in my app. Explicitly calling Stripe.start works great, but in my app's supervisor, what am I supposed to add as the worker? Can you address this in the readme please?

[2015-12-01 17:08] robconery commented on #6
Sure - sorry for the frustration :) it was my first package. You added the dependency and the app as well? Can you show me your mix file?

[2015-12-01 18:14] napcs commented on #6
No problem. Pretty sure it's not the mix file, as directly calling Stripe.start makes everything work. But what I'm wondering is exactly what to do in **my** supervisor. I tried this:

        children = [
          # Define workers and child supervisors to be supervised
          # worker(TakeMyMoney.Worker, [arg1, arg2, arg3]),
          supervisor(Stripe.Supervisor, [])
        ]

after looking

[2015-12-01 19:11] robconery commented on #6
Try:

[code]

[2015-12-01 19:13] napcs commented on #6
[code]

[2015-12-01 19:15] robconery commented on #6
Hmmm - yeah "no process" means it hasn't started - asking Johnny Winn for some quick help. Gimme just a minute here...

[2015-12-01 20:57] robconery commented on #6
Hooray for @nurugger07! Thanks Johnny - I was wondering if that was the problem. I'll push again in 3...2...1

[2015-12-01 20:58] nurugger07 commented on #6
@napcs it's not you. The `Stripe.start` is actually calling `HTTPoison.Base.start` which ensures that HTTPoison is running.

[2015-12-01 20:59] robconery commented on #6
OK up your dependency to 0.5 and you're good! Thanks Johnny :)

[2015-12-01 20:59] #6 closed

[2015-12-01 21:05] nurugger07 commented on #6
@robconery no problem, any time :)

[2015-12-03 01:46] Immortalin opened #9 "Stripe connnect"
Does this support stripe connect?

[2015-12-03 02:56] robconery commented on #9
What do you mean?

[2015-12-05 02:35] nicrioux commented on #9
Tell me more about your exact needs, I'm also interested in leveraging this so I can start implementing the ones that are your priorities, so I'll learn my way in to use it myself afterwards.

[2015-12-05 03:14] robconery commented on #9
I covered what I need in v1 so... if you have ideas feel free!

[2015-12-05 03:37] nicrioux commented on #9
@Immortalin  What are your interests in connect? I'm building a platform on top of stripe where every user can have their own account. So connect looks like the way to go for that!

[2015-12-05 04:03] Immortalin commented on #9
@nicrioux I am building an ecommerce marketplace type of service. The usages for stripe connect are pretty broad. I am mainly using it in place of PayPal Adaptive Chained payments. For the latter, it is mainly used for marketplaces such as eBay etc.

[2015-12-05 05:45] nicrioux commented on #9
@Immortalin Are you more interested in the standalone or the managed connect ?

[2015-12-05 06:01] Immortalin commented on #9
@nicrioux probably standalone as the [risks](https://support.stripe.com/questions/what-s-the-difference-between-a-connect-standalone-account-and-a-connect-managed-) of a managed account outweighs a standalone one.

[2015-12-05 06:04] nicrioux commented on #9
Do you have something implemented already? Or is it still in planning stage?

[2015-12-05 06:04] nicrioux commented on #9
@Immortalin

Do you have something implemented already? Or is it still in planning stage?

[2015-12-05 06:05] Immortalin commented on #9
@nicrioux working on it right now. We can chat over irc if you want

[2015-12-05 06:06] nicrioux commented on #9
@Immortalin using this project as the base? or from something else?

[2015-12-05 06:08] nicrioux commented on #9
I think it could be pretty neat to add this as a feature of stripity

[2015-12-05 06:10] Immortalin commented on #9
@nicrioux using the this project to implement the payments bit. User sells product-> service gets a percentage, user gets the rest. Something like [this](https://developer.paypal.com/docs/classic/adaptive-payments/integration-guide/APIntro/)

[2015-12-05 17:23] robconery commented on #9
Oh that would be nice!

[2015-12-06 03:31] nicrioux commented on #9
I was thinking about this. Wouldn't it only involve creating an additional "key" variable on make_request (and all who references it) to provide a path for the stripe key? In a multi-tenant scenario, the key would be provided but can also be omitted to default to the config/env key of the owning tenant. Is your implementation more involved then this?

[2015-12-06 03:31] nicrioux commented on #9
*a path for the stripe key to flow through ...

[2015-12-06 03:33] robconery commented on #9
All I need is the subs/charge/customer stuff... I don't use the payouts. Happy to add you to commit if you want to give it a go.

[2015-12-06 04:28] Immortalin commented on #9
Good time to take advantage of elixir's multiple dispatch ;)

[2015-12-06 06:22] Immortalin opened #10 "Update Elixir version"
Getting
[code]
when compiling with mix

[2015-12-06 06:26] Immortalin commented on #10
Ignore this

[2015-12-06 06:26] #10 closed

[2015-12-06 06:28] Immortalin commented on #4
It seems to be working correctly now

[2015-12-08 06:59] nicrioux commented on #9
https://github.com/robconery/stripity-stripe/pull/12

[2015-12-09 12:33] Structed commented on #4
Confirmed - it is working now.

[2015-12-09 12:33] #4 closed

[2015-12-19 02:46] nicrioux commented on #9
Almost done on this! The Connect feature simplify the usage of connect by: 1- generating the workflow start button url. Then on workflow end callback from stripe, you call our Stripe.Connect.get_token return_code_from_stripe to perform the oauth callback to stripe. There's also a method to get the full oauth response to store local to the platform. I'll also finish implementing the key flow thru o

[2015-12-19 02:48] nicrioux opened #15 "Bitcoin receiver"
Anyone wanting to tackle this? I'm on the canadian side and don't have a US account yet. The feature is still limited to the US accounts. I want to be ready to use that feature as soon as I can + it would be a nice addition feature-wise.

Thoughts?

[2015-12-19 07:58] Immortalin commented on #9
:+1:

[2015-12-22 08:47] nicrioux commented on #9
Fully resolved. Might need to be iterated on a bit to refine. Standalone and managed supported. All API modules have functions which accepts an api key. A phoenix demo has been created to demonstrate the integration.

[2015-12-22 08:47] #9 closed

[2015-12-22 08:55] Immortalin commented on #9
@nicrioux thanks! :D

[2016-01-15 04:17] blitzstudios opened #21 "Test fails for - subscription_test "Change creditcards works""
https://github.com/robconery/stripity-stripe/blob/master/test/stripe/subscription_test.exs#L155

  1) test Change creditcards works (Stripe.SubscriptionTest)
     test/stripe/subscription_test.exs:145
     Customer cus_7iqiZCSNmlHdKm does not have a subscription with ID sub_7iqi4bIXT4FsA8
     stacktrace:
       test/stripe/subscription_test.exs:155

[2016-01-15 14:04] dbulic opened #22 "Update hex package"
To use your latest version, github needs to be referenced, like this:
[code]
Last hex package is 0.5.0 (it may also make sense to bump httpoison dependency to 0.8.0 - I had to downgrade my dependency in mix.exs).

[2016-01-15 15:10] #22 closed

[2016-01-18 20:09] stocks29 opened #23 "Publish hex docs for recent versions"
It would be great to publish the docs for the most recent version released on hex :)

[2016-01-19 17:20] dmarkow opened #24 "Relax elixir version requirement?"
Elixir is at 1.2.1 now, but this package depends on `~> 1.1.1`. Could it maybe be relaxed to `~> 1.1`, or `>= 1.1.1`?

[2016-01-19 17:26] robconery commented on #24
Yeah - think you’re right. PR?

[2016-01-19 17:33] #24 closed

[2016-02-19 15:35] nicksanders opened #30 ":earmark, only: :dev"
In mix.exs

Shouldn't :earmark be dev only like :ex_doc?

[2016-02-24 20:55] robconery commented on #15
Hmm - I'm open to it but have no need just yet.

[2016-02-24 20:55] #2 closed

[2016-02-24 20:55] #21 closed

[2016-02-24 20:56] robconery commented on #30
Yep! Thanks :)

[2016-03-23 17:06] mayur-patel opened #32 "Assign multiple cards (tokens) to an existing customer"
Hi There,

Please forgive me for posting a question here. Is there a way to assign multiple credit cards to an existing customer?

URL:
    /v1/customers/<customer Id>/sources

Parsed Request POST Body
{
    card: "tok_17sFEyDzqcXKnkcafX4jkf2s"
}

Response body
{
    id: card_17sFEyDzqcXKnkcaO95Kg2iY
    object: "card"
    address_city: null
    address_country: null
    address_line1: null
    ad

[2016-03-23 18:06] robconery commented on #32
https://support.stripe.com/questions/can-a-customer-have-multiple-credit-cards-on-file

[2016-03-23 18:06] #32 closed

[2016-03-23 19:14] mayur-patel commented on #32
Thanks for your reply. I have read that link but I am not sure how to attach multiple cards using stripity-stripe. When ever I use Stripe.Customers.update, it overwrite the existing card instead of appending. Any help will be appreciated. Thanks.

Kind regards,
Mayur
https://support.stripe.com/questions/can-a-customer-have-multiple-credit-cards-on-file

---
You are receiving this because you autho

[2016-03-23 19:28] robconery commented on #32
Doh! Sorry I misread your question! Off the top of my head I don't know if the lib does that currently - I only wrote the  transaction bits to use the token/card passed to it.

[2016-04-08 01:35] onelesd opened #35 "Subscriptions.change() something other than plan id error"
With Subscriptions.change() I am unable to change other options (something other than the plan id) of a subscription.

This causes Stripe(.com) to return an error message:
[code]

This works:
[code]

[2016-04-08 14:27] robconery commented on #35
Thanks - looks like a (hopefully) simple fix that I can't get to for a few days. If you'd like to take a swing at it, that would be great....

[2016-04-08 19:54] onelesd commented on #35
I may have time this weekend. Thanks for this library!

[2016-04-08 21:56] stavro opened #36 "Support Idempotency Keys"
https://stripe.com/docs/api#idempotent_requests

I'd like to be able to take advantage of idempotency keys, but there doesn't appear to be a way to do that through stripity-stripe.

Have you considered implementing this?

[2016-04-08 22:41] robconery commented on #36
I have not! I would be interested, however...

[2016-05-06 01:44] pragmaticivan commented on #30
Please close this task since the dep now has `only: :dev` :)

[2016-05-06 02:03] pragmaticivan commented on #23
Need help with that @robconery ?

[2016-05-06 02:08] #30 closed

[2016-05-06 02:09] robconery commented on #23
Ugh probably :) I'll happily pop you on commit if you want to help :)

[2016-05-06 02:11] pragmaticivan opened #39 "Multiple test env"
We should be able to `mock` the requests and also if we specify, run all the tests directly into stripe. So that way we're going to be able to use Travis CI.

[2016-05-06 02:13] robconery commented on #39
Thought about that - the problem is that it's all arm-waving unless we hit the API.

[2016-05-06 02:16] pragmaticivan commented on #39
So, the repo is not running tests any way haha You will be able to still run the tests using API as I said locally. But for Travis, it will keep the interface and expected basic behaviors to work.

[2016-05-06 02:29] pragmaticivan opened #40 "Coveralls"
Since I don't have admin rights, can you register the repo here and give me the URL? https://coveralls.io/

Thanks.

[2016-05-06 02:52] pragmaticivan opened #42 "Travis CI"
Can you activate https://travis-ci.org/ for this project? Thanks 🍺

[2016-05-06 02:54] robconery commented on #40
Haven't used this service before... here ya go https://coveralls.io/github/robconery/stripity-stripe

[2016-05-06 02:55] robconery commented on #42
Yep - done

[2016-05-06 02:55] robconery commented on #42
BTW thanks I've been meaning to do all of this :)

[2016-05-06 02:56] pragmaticivan commented on #40
It's pretty cool, I wrote a patch for semaphore ci last week.

[2016-05-06 02:59] pragmaticivan commented on #42
Nice, you can close this task now 👍 Thanks

[2016-05-06 03:00] pragmaticivan commented on #40
You can close this task now 👍 Thanks

[2016-05-10 18:48] #42 closed

[2016-05-10 18:48] #40 closed

[2016-05-12 20:34] stavro opened #47 "Values are not escaped properly"
Using v1.3.0.

If I submit a `Stripe.Charge` with an ampersand in the description field, I would expect this library to properly escape values to submit via the API.

This is a pretty serious issue leaving the library open to query-parameter injection / tampering.

Example:

[code]

[code]

[2016-05-12 23:33] robconery commented on #47
Interesting. We're using `Stripe.URI.Encode` before we send the request out:

https://github.com/robconery/stripity-stripe/blob/master/lib/stripe.ex#L94

And you're right, it shouldn't choke on the `&`. Do you have more to go on here? Such as a stack trace? Out of curiosity - do you have to use an `&` in the description?

[2016-05-12 23:46] stavro commented on #47
Well that's certainly the problem right there:

[code]

The values are *not* encoded at all!

[2016-05-12 23:48] stavro commented on #47
I don't have to use an ampersand in this particular case, no.

But if I decide to pass a user's name or email address to Stripe, and that field is changeable by the user, this leaves our stripe API calls vulnerable to injection.

[2016-05-12 23:58] robconery commented on #47
Ugh - I'm a dope :). Of course - it's just appending things with an ampersand... sorry I got a tad confused there for a second.

Looks like we need this:

http://elixir-lang.org/docs/stable/elixir/URI.html#encode/2

If you want to PR, that would be groovy. I should note that this is only encoding, it's not *sanitizing* per se. Your user could end up hacking your description or email still... I thi

[2016-05-18 22:08] InAbsentia commented on #47
I ran into a related problem where an email address with a plus sign (`test+user@example.com`) was failing because the `+` isn't encoded.

I was going to offer to help, but I was just looking at `Stripe.URI.encode_query` and it appears @stavro already fixed it and I'll just need to update. 😃

[2016-05-26 06:30] DavidAntaramian opened #50 "What is being supervised?"
I'm trying to advise someone on how to use this library, but I don't understand why [you're starting a supervision tree](https://github.com/robconery/stripity-stripe/blob/master/lib/stripe.ex#L33). When I actually open the supervisor module's definition, [nothing is being supervised](https://github.com/robconery/stripity-stripe/blob/master/lib/stripe/supervisor.ex#L9). And from what I can tell, no

[2016-05-26 16:08] robconery commented on #50
I've been meaning to clean this mess up for a while - thanks for the prod :). When I forked this project I left everything basically the way it was because it worked. But there are numerous places that I want to improve (using maps instead of dicts, etc) - I just haven't had the chance.

You're exactly right - the `Stripe.Supervisor` does nothing. I'll weed some of this out and see if I can stream

[2016-05-26 16:09] #50 closed

[2016-05-26 16:10] robconery opened #51 "Fix URI Borked Tests"
The URI Encoding tests use multiple assertions per test, which makes it difficult to understand what's going on.  There's also a test failure that needs to be fixed.

[2016-05-26 16:11] DavidAntaramian commented on #50
Thanks! Will pass along the info.

[2016-05-26 16:11] robconery opened #52 "General Code Cleanup"
Broad issue name, but the codebase is old and it shows. I'd like to clean things up, move to v2 and see if we can streamline some things.

[2016-05-26 16:12] robconery commented on #52
Specifically: getting away from dicts and using structs or maps where possible. Mocking the stripe calls so we don't have to bounce off their system every time (which seemed OK in the beginning). Making sure our tests are more descriptive. Properly escaping the URLs, and so on.

[2016-05-26 16:17] pragmaticivan commented on #52
Are you thinking about having a new branch for this version?

[2016-06-29 20:36] nurugger07 commented on #52
Going to start looking at this and see what we can get going :)

[2016-07-30 09:58] thminhVN opened #60 "Can not run mix.deps.get"
Can not rune `mix.deps.get` in my project.
This is my file Mix.config

[code]

This is my error

[code]

[2016-08-01 23:14] aeden commented on #60
It looks like this is fixed in `master`, so you can workaround it for the moment by declaring the dependency as:

`{:stripity_stripe, git: "https://github.com/robconery/stripity-stripe.git"}`

[2016-08-02 19:01] nathany opened #62 "Test suite hangs"
[code]

It just hangs there. I waited over 4 minutes before aborting.

(Elixir 1.3.1, OS X 10.11.6)

[2016-08-02 19:22] nathany opened #63 "Updating a card is a POST action, not PUT"
See docs: https://stripe.com/docs/api#update_card

Code at: https://github.com/robconery/stripity-stripe/blob/master/lib/stripe/cards.ex#L81

I was planning to send you a patch, but #62, and the number of open pull requests suggests I should look elsewhere. 😦

[2016-08-03 21:05] robconery commented on #62
The problem with the tests, which I'm not sure how to fix, is that the constant bounces of the Stripe API cause a hang at some point. Unfortunately we need to hit the API - open to thoughts.

[2016-08-03 21:09] robconery commented on #63
I'm busy, just like you. I have a family and summer vacations to juggle and, yeah sometimes these PRs might sit for a few weeks until I can get to them. I'll be honest with you: I don't appreciate the comment.

As far as POST vs. PUT - I'd love to have your help if you had the time because as you can tell, I'm having a hard time pulling in the PRs quickly. Most of this is due to switching over to

[2016-08-03 21:11] robconery commented on #60
I'll get a push ready when I get back from vacation in 5 days.

[2016-08-03 23:24] nathany commented on #63
Apologies. It was frustrating to be met with a failing build when I have such a small change to make. I understand that it's open source and I shouldn't expect you to drop everything to fix up stripity_stripe.

Thanks for cleaning up the PRs.

I'm not sure I understand the current issue with the build and Coveralls. Is it an issue with specifying the Stripe credentials in such a way that they don'

[2016-08-03 23:32] nathany commented on #62
I've been trying out ExVCR in tests, which helps speed up tests in development, but its still useful to hit the real Stripe API in Travis CI. It may be best to track down the issue before introducing another dependency.

Any idea how to track down where that hang is happening?

[2016-08-04 08:35] gmile commented on #51
@robconery how do you see talking this?

I can split each assertion into a test of its own.

[2016-08-04 08:36] gmile commented on #47
@stavro can you try running against master? I _think_ the problem should be fixed by https://github.com/robconery/stripity-stripe/pull/59

[2016-08-04 08:42] gmile commented on #63
@nathany the build is now fixed in https://github.com/robconery/stripity-stripe/pull/64. Coveralls is not an issue (it usually is when a PR _reduces_ the % of code coverage, which was not the case with the build right now).

There actual problem with the build was the fact, that we began escaping properly (in https://github.com/robconery/stripity-stripe/pull/59), and VCR cassettes were recorded ba

[2016-08-04 12:00] gmile commented on #63
@nathany I've fixed this issue in #66. That PR still fails, as others, until #64 is merged.

[2016-08-05 08:54] gmile opened #68 "Proposal: make key usage more consistent"
Right now there are basically two occurrences of the same method:

1. one with API key,
2. one without API key (relying on API key from configuration).

This means that we have to have:
1. two actual functions in the source code doing the same thing, with one simply calling another,
2. two documentation blocks describing essentially the same thing (with exception to the "with explicit key" functio

[2016-08-05 08:54] gmile commented on #68
@robconery if you approve – I can work on this.

[2016-08-07 00:57] robconery commented on #62
I think someone has already tracked it in another PR I just merged - I need to sit with this a bit when I get home tomorrow.

[2016-08-07 00:58] robconery commented on #51
Sounds good to me :)

[2016-08-07 00:58] #51 closed

[2016-08-07 01:01] robconery commented on #63
Closing for now - cheers all thank you for your help :)>

[2016-08-07 01:01] #63 closed

[2016-08-08 10:54] #47 closed

[2016-08-08 11:28] #35 closed

[2016-08-08 11:36] gmile commented on #39
@pragmaticivan can you elaborate a bit? I _think_ we're already doing exactly what you've suggested: we're mocking using API responses, recorded with ExVCR.

To run all tests against live Stripe API:
[code]

To run all tests recorded Stripe API responses:

[code]

There's a caveat with running tests against live Stripe API though: you must remove all cassette files first, as ExVCR will try to matc

[2016-08-08 11:38] gmile commented on #39
Closing this as I don't think there are any actionable items in this issue.

[2016-08-08 11:38] #39 closed

[2016-08-08 12:20] gmile opened #71 "Proposal: remove setup/teardown blocks from the tests"
TL;DR. Let's stop making API calls in `setup_all` blocks. Running tests against real API will become much slower, but contribution and running tests locally / on travis will remain as fast as they are right now.

Right now adding new API tests is somewhat overly complicated. Below I will show what it took to add a test for Stripe.Subscription.change/4 (see https://github.com/robconery/stripity-str

[2016-08-08 12:24] gmile commented on #71
@robconery please review and let me know if this makes sense.

[2016-08-08 16:17] robconery commented on #71
I'm all for easier. We have a unique reliance on the API so... as long as we bounce off of it at some point ... this should be OK.

[2016-08-10 08:16] gmile commented on #71
@robconery got it, thanks. Ok, I'll work on this

[2016-08-12 01:35] gmile commented on #71
Right now tests against real API run for 118.4 seconds. This is without `async: true`.

[2016-08-24 23:42] OscarSwanros commented on #60
was this fix on 1.4?

[2016-08-27 01:01] Harrisonl opened #85 "Dependency Resolution Failed"
[code]

Is the solution to use the override: true option in my mix.exs?

[2016-08-27 01:04] Harrisonl commented on #85
Using seemed to fix the issue.

{:stripity_stripe, git: "https://github.com/robconery/stripity-stripe.git"}

[2016-09-08 21:10] jrichocean commented on #85
The latest version release on hex is `stripity_stripe 1.3.0` I realized that error happens because your looking at the master branch vs latest stable version.

[2016-09-11 08:29] sublimecoder opened #87 "List charges with params not working"
When I try to list charges with anything other than a integer limit it throws and error thats not very useful in tracking down whats happening.

[code]
any idea whats going on?

[2016-09-11 16:35] robconery commented on #87
That's odd. Your stack trace shows line 87, but line 89 is the only place near there that has an integer associated: https://github.com/robconery/stripity-stripe/blob/master/lib/stripe/charges.ex#L89

Can you confirm you're on latest (which is 1.4)? I just spun up a test to confirm that this call works and I didn't have a problem using `Stripe.Charges.list(customer: "test")`.

[2016-09-11 18:56] sublimecoder commented on #87
Right I was able to get that far and see that line 87 was the three quotes and not an actual method call.

This call works for me

`Stripe.Charges.list(10)`

But the second I try to introduce a params list it gives the above failure. Copy and pasting your code `Stripe.Charges.list(customer: "test")` fails in the same manner.

here is the line from my mix.lock file so you can see I am in fact on ve

[2016-09-12 04:25] robconery commented on #87
No - it shouldn't. @nurugger07 do you see anything here that would cause a weird problem like this?

[2016-09-22 04:30] JoshSmith opened #88 "Make Stripe.Connect.authorize_url configurable"
There's some further configuration we can add into the query string for `/oauth/authorize`. See here: https://stripe.com/docs/connect/reference#get-authorize-request

[2016-09-22 04:32] JoshSmith commented on #36
Would this not require some implementation on your own (i.e. tracking in a database) @stavro?

Obviously allowing you to pass through said idempotency key would be nice, but an example of the expected usage would be nice to see.

[2016-09-22 04:43] stavro commented on #36
Yes - the application should 100% be responsible for managing and passing these keys to the library.

My use case primarily revolves around rescuing timeout exceptions and retrying immediately.  Timeouts with the Stripe API from heroku appear to happen more often than I'm okay with.

[2016-09-22 06:19] JoshSmith commented on #36
@stavro that's disconcerting, since I'm on Heroku myself right now.

[2016-09-22 06:22] stavro commented on #36
I landed a PR to this project a while ago to allow bumping up the default timeouts to 7-10 seconds (instead of 5) which definitely helped.  Would definitely recommend.

Though for an optimal experience I would like to retry timeouts with ano idempotent key immediately!

[2016-09-23 01:38] JoshSmith commented on #36
@stavro are you hoping to submit a PR for this? I would be very interested in it.

[2016-09-23 01:51] stavro commented on #36
If nobody else does it by mid-Oct I likely will.  I don't have much time
before then.

On Sep 22, 2016 6:38 PM, "Josh Smith" <notifications@github.com> wrote:

[2016-09-23 02:41] JoshSmith commented on #36
@stavro same boat here, though can probably lend some hands around that time.

[2016-09-26 23:15] JoshSmith commented on #85
@jrichocean is it not `1.4.0`? Is that not `stable`? If not, I'm confused with why that's on the `README`.

[2016-09-29 12:53] alaister opened #90 "Stripe.Connect for managed accounts"
Hey,
I see there is a Connect module implemented for standalone accounts and I was wondering if you are planning on adding managed accounts to the connect module?

Thanks,
Alaister

[2016-09-29 12:59] alaister commented on #90
Sorry,
Or is this already implemented with Stripe.Accounts? If so is there a little tutorial on how to use this?

Thanks again,
Alaister

[2016-09-29 13:45] alaister commented on #90
Once again apologies for the frequent posting.
I now kind of understand what is going on... If I want to create a customer for a connected account I call `Stripe.Customers.create(params, key)` where key is the connected accounts secret key.

Is there another way I can do this just using the connected accounts ID instead of the secret key. (As this is what stripe recommends and I'd rather not store

[2016-09-29 23:29] dmvt opened #91 "Proposal: Expose headers to class functions for Connect usage"
When acting on behalf of a Connected account, Stripe recommends using the `Stripe-Account` header as seen here: https://stripe.com/docs/connect/payments-fees#charging-directly

I propose updating the class functions to expose headers in the following way:

This:
[code]

would become this:

[code]

This still allows a key override but also supports passing any headers required without using the low

[2016-10-08 03:58] taylorbrooks commented on #60
I can't get `mix deps.get` to work either.

Master looks good, but `1.4.0` is no bueno.

[2016-10-18 21:46] JoshSmith opened #92 "Replace dicts with maps"
We should generally update the codebase wherever possible to replace dicts with maps where it makes sense:

- [ ] Identify lines that could be replaced
- [ ] Propose a good replacement
- [ ] Make the replacements

[2016-10-18 21:48] JoshSmith opened #93 "Mock Stripe within tests"
Right now many of the tests either hit Stripe or have VCR cassettes. The more mocking or dependency injection or any other technique we can use to reduce the external reliance on hitting Stripe, the better.

[2016-10-18 21:49] JoshSmith opened #94 "Improve descriptiveness of tests"
- [ ] Identify tests that are lacking much explanation.
- [ ] Open issues for individual tests
- [ ] Rewrite those tests to improve their descriptiveness

[2016-10-18 21:50] JoshSmith opened #95 "Ensure all URLs are properly escaped"
We should do a runthrough of this package to:

- [ ] Identify any place where URLs lack proper escaping
- [ ] Apply proper escaping to those URLs

If we don't find any, then we can just close this issue.

[2016-10-18 21:50] JoshSmith commented on #52
Closing in favor of #92 #93 #94 and #95.

[2016-10-18 21:50] #52 closed

[2016-10-18 22:00] benhastings commented on #95
@JoshSmith, is there a particular package containing the URLs or is this a general sweep through the repo?

The wording of the original issues seems to indicate a particular component, but I wanted to check before I go hunting.

[2016-10-19 00:12] dmvt opened #97 "Update README and LICENSE"
Now that CodeCorps and Strumber are taking over maintenance...

[2016-10-19 01:57] #97 closed

[2016-10-19 02:58] JoshSmith commented on #95
@benhastings this is just a general sweep through the repo. It was mentioned in #52 so I'm not sure precisely where all these URLs are located.

[2016-10-19 19:38] DavidAntaramian commented on #92
I was discussing this with some people yesterday, as I was reviewing the library for use in a corporate project. In large part, yes, the replacement of the usage of dicts with maps is necessary. The replacement with structs will be more controversial, since it will require maintaining those structs overtime.

Looking at the larger picture, utilizing structs would push this package away from being

[2016-10-19 19:40] DavidAntaramian commented on #93
This seems to have a strong relation with #71

[2016-10-19 19:54] DavidAntaramian commented on #93
Just a thought: You may even want to distribute mock modules as part of the package itself. Even when the package is used by other code, that code then has to perform integration testing. By providing a mock module that can easily be substituted, implementers don't have to write their own mocks. They just substitute `Stripe` with `FakeStripe` (or whatever the mock module name) using application co

[2016-10-19 20:29] DavidAntaramian opened #99 "Support Committments"
Primarily for @JoshSmith: what are your support commitments for non-current versions of Elixir? The latest Elixir release is 1.3, and I would say that 1.2 is the farthest back things should be supported, as 1.2 released a lot of improvements for the ecosystem.

[2016-10-19 20:32] JoshSmith commented on #99
@DavidAntaramian (also cc @dmvt) I would agree with `1.2`. Any chance you know of a good way to track current usage across the ecosystem?

[2016-10-19 20:33] DavidAntaramian opened #100 "Replace HTTPoison with Hackney"
HTTPoison doesn't offer any benefits over using Hackney directly, and it just adds another dependency to pin against; often times the use of HTTPoison will obfuscate the lower level support provided by Hackney. I would recommend swapping out HTTPoison for Hackney, which is a very simple process. I'm willing to do it if we're in agreement.

[2016-10-19 20:33] JoshSmith commented on #93
@DavidAntaramian this is definitely my ideal here. I would rather not do this for the package as a consumer and would rather have the library expose some of those modules along with test helpers.

cc @dmvt ☝️

[2016-10-19 20:35] JoshSmith commented on #100
@DavidAntaramian are you tracking the v2 branch here that @dmvt pushed up yesterday? This would be a good point for that rewrite.

@dmvt we should ideally have a journey issue now to support an RFC process for this and to serve as a nexus point for related discussion/issues.

[2016-10-19 20:36] JoshSmith commented on #92
@DavidAntaramian I concur with that sentiment here.

[2016-10-19 20:37] JoshSmith commented on #92
I would also mention that @dmvt – who is leading much of the v2 rework – is aiming to go even harder in the direction of a low-level, lightweight wrapper to Stripe's API.

[2016-10-19 23:34] dmvt commented on #92
@DavidAntaramian Thank you for your feedback. My goal is to keep this package as lightweight and flexible as possible. I'll be putting together a RFC PR tonight for the 2.0 branch and encourage you to check that out once it's up.

[2016-10-19 23:41] JoshSmith commented on #92
@dmvt can we track it as an issue and relate it back to that PR?

[2016-10-20 00:01] dmvt commented on #100
@DavidAntaramian @JoshSmith Working on the RFC now and generally support this idea. Stay tuned...

[2016-10-20 00:02] dmvt commented on #92
@JoshSmith Definitely

[2016-10-20 00:03] DavidAntaramian commented on #92
@dmvt My response to any lightweight wrapper in Elixir is essentially the following: what benefit does this library offer over just using an HTTP client directly?

[2016-10-20 00:17] #91 closed

[2016-10-20 03:33] dmvt commented on #100
Let's continue this discussion over at https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:33] #100 closed

[2016-10-20 03:34] dmvt commented on #15
This will be gained for free in version 2: https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:34] #15 closed

[2016-10-20 03:35] #23 closed

[2016-10-20 03:43] dmvt commented on #36
As seen [here](https://stripe.com/docs/api/curl#idempotent_requests), this can be passed as a header. In the current version, you can use the low level API to make requests with headers (https://github.com/code-corps/stripity-stripe/blob/master/lib/stripe.ex#L77). This will become easier in [version 2](https://github.com/code-corps/stripity-stripe/pull/101) as a result of optional second `headers`

[2016-10-20 03:43] #36 closed

[2016-10-20 03:44] dmvt commented on #62
The test suite is being rebuilt in https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:44] #62 closed

[2016-10-20 03:45] dmvt commented on #68
@gmile I'd love your thoughts on the Version 2 RFC https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:45] #68 closed

[2016-10-20 03:47] dmvt commented on #71
This is being handled as part of https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:51] dmvt commented on #93
I wrote the idea of never hitting the API as part of our testing into the [Version 2 RFC](https://github.com/code-corps/stripity-stripe/pull/101). I also think the idea of the mock module is an interesting one. Perhaps we should leave this open until we see how the Version 2 testing approach plays out?

[2016-10-20 03:51] #85 closed

[2016-10-20 03:53] dmvt commented on #87
Since this is over a month old and we're building a new version over at https://github.com/code-corps/stripity-stripe/pull/101, I'm going to close this out. If it's still an issue that you need to resolve @sublimecoder, feel free to open it back up.

[2016-10-20 03:53] #87 closed

[2016-10-20 03:54] dmvt commented on #88
Let's make sure to update this in https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:55] dmvt commented on #90
We'll be handling this concern in version 2. Feel free to comment on the RFC https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:55] #90 closed

[2016-10-20 03:56] dmvt commented on #92
Let's continue this conversation over at the [Version 2 RFC](https://github.com/code-corps/stripity-stripe/pull/101).

[2016-10-20 03:56] #92 closed

[2016-10-20 03:57] dmvt commented on #94
Let's handle this as part of https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:57] #94 closed

[2016-10-20 03:58] dmvt commented on #95
I think this is covered by the rewrite https://github.com/code-corps/stripity-stripe/pull/101

[2016-10-20 03:58] #95 closed

[2016-10-20 03:59] dmvt commented on #99
Agreed that 1.2 and up should be supported in https://github.com/code-corps/stripity-stripe/pull/101.

[2016-10-20 04:28] dmvt opened #102 "RFC - Stripity Stripe 2.0"
#### Start Date: 2016-10-19
# Summary

Stripity Stripe is in need of an upgrade to provide a more flexible Elixir wrapper for the amazing [Stripe API](https://stripe.com/docs/api). There are two main goals of this rewrite. First, Stripity Stripe 2.0 should have a consistent and easy to understand high level API. Given that Elixir was born of Ruby, we will seek to closely match the [documented Ruby

[2016-10-20 04:30] JoshSmith commented on #99
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #95
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #94
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #92
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #90
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #88
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #87
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #93
Conversation has moved to #102.

[2016-10-20 04:30] JoshSmith commented on #71
Conversation has moved to #102.

[2016-10-20 04:31] JoshSmith commented on #68
Conversation has moved to #102.

[2016-10-20 04:31] JoshSmith commented on #62
Conversation has moved to #102.

[2016-10-20 04:31] JoshSmith commented on #36
Conversation has moved to #102.

[2016-10-20 04:31] JoshSmith commented on #15
Conversation has moved to #102.

[2016-10-20 04:31] JoshSmith commented on #100
Conversation has moved to #102.

[2016-10-20 05:24] JoshSmith commented on #102
A few comments:

- I like the idea of singularization.
- I also like being able to override the headers. Similarly would like for people to be able to modify the API version if needed, but ideally have a default version we're hitting to match with Stripe's API changes.
- Would like to consider a different approach to `use`, like a module with some centralized functions for the HTTP verbs.
- Absolu

[2016-10-20 05:43] DavidAntaramian commented on #102
I'll ask the same question I did over in #92, with these changes what benefit does this library offer over just using an HTTP client directly? I mean this honestly and not facetiously. I've been working with Elixir for a while now, and I generally discourage people from using libraries that are only lightweight API wrappers in the same way that I recommended not using HTTPoison in favor of using H

[2016-10-20 06:30] JoshSmith commented on #102
I can see the logic in taking stripe-ruby’s `Stripe::APIOperations` and reimplementing here as a good basis for the rest of the package. But I do agree that attempting 1:1 mapping is probably not advisable, which was certainly a good lesson learned as we transitioned from our Rails API to Elixir and Phoenix.

[2016-10-20 06:31] JoshSmith commented on #102
I would also agree with the reasoning around Hackney vs HTTPoison. There are good reasons to drop down into Erlang and this seems like one of them.

[2016-10-20 06:35] DavidAntaramian commented on #102
I mean, I hesitate to call it "dropping down." The module name is just written differently using atom notation. It's still Elixir.

[2016-10-20 06:39] JoshSmith commented on #102
I'm very glad that this seems to be the central takeaway from the conversation so far:

What this looks like, exactly, I think is the only point of contention that exists here.

@dmvt I'm hoping there's not significant disagreement with the points I had raised above. I know you want to avoid a heavy API here but don't think we're at odds on that. In the final analysis, really just hopeful that we'

[2016-10-20 08:16] begedin commented on #102
Overall, I share most of the sentiment with @DavidAntaramian and @JoshSmith

Using the ruby implementation as a sort of a baseline feature goal is good, but I wouldn't insist on a 1-to-1 mapping. It can easily lead to trouble, and push as away from using the advantages elixir offers.

I'm OK with the idea of adding some syntactic sugar, but I get the motivation behind not wanting it (yet), so I wo

[2016-10-20 13:54] travisdmathis commented on #102
@begedin i agree with you there on delete_all, pretty much never.  I'm always for keeping wrappers specifically in line with the API and nothing more. Anytime I build a wrapper I almost never include utility functions myself.

If you need a Utility function, write it in house. That's pretty much how I see it. I would like to see us keep it with its intended functionality of an interface between my

[2016-10-20 14:21] DavidAntaramian commented on #102
@begedin  With regards to low-level vs high-level API, typically a high-level has greater organization of functions that correspond directly to the resources they operate on instead of being a direct pass-through to the HTTP API. For example, `Stripe.Customer.create()` instead of `Stripe.API.request()`. In general, low-level API packages provide only necessary plumbing to interface with the remote

[2016-10-20 17:56] dmvt commented on #102
@JoshSmith

- The API version used is defined in the Stripe account settings for each individual account. I've never come across a way to specify this when making the call, but if you can find one, let's definitely expose it.
- I'm up for an approach other than `use`, although do think we should have at least one line of code anchoring each piece of documentation. Perhaps something like `import St

[2016-10-20 22:25] DavidAntaramian commented on #102
## Hackney Replacement // Low-Level API

Totally happy to handle the Hackney replacement. The documentation on Hackney is certainly not revolutionary, but the modular documentation (e.g., [`:hackney.request/5`](https://github.com/benoitc/hackney/blob/master/doc/hackney.md#request-5)) is at least a bit more helpful than the README. I'm hoping the OTP team gets their act together with improving the

[2016-10-20 22:45] DavidAntaramian commented on #102
@dmvt @JoshSmith Also, I'm happy to use any style guide you want, just would ask that it be decided on prior to anyone starting work. Credo can also be really useful for automated checking

[2016-10-20 23:25] dmvt commented on #102
Thanks for the additional info @DavidAntaramian. I like everything you said and only have a few comments:

### Versioning
Given that it is handled in a header, this would be passed as an option in the second argument of any of the high level functions. No need to do anything special to support this.

### Lists as optional arguments
My personal preference would be to use maps. We seem to agree that

[2016-10-20 23:30] dmvt commented on #102
One more thought on the Low Level API and List arguments: I could be convinced to make the high level api functions only accept and attributes map and a headers list. Hackney options should never need to be changed inline and the secret key option at the end is a sub-optimal way to handle Connect auth. Eliminating it would force users to either use the low level api or conform to preferred convent

[2016-10-24 15:50] DavidAntaramian commented on #102
I've been writing a basic API integration for my internal application that I'll be using until the v2 work on this library is done. I have some thoughts from that that apply here.

## Versioning

See Low-Level API

## List as Optional Arguments

I've had a few ideas about this as I've been implementing. Will cover them in the "high-level" api section.

## Function Naming

This sounds reasonable to

[2016-10-24 20:58] JoshSmith commented on #102
@DavidAntaramian quick clarification: I'm assuming in your "Low Level API" section, at the very end, you meant `: stripe_connect_account`?

Overall this looks like a strong direction to me and I appreciate the feedback here. Also like that you found that quote from Stripe.

I'd like to direct some love here ASAP since I'd personally not like to rely _too terribly_ heavily on the 1.x implementation

[2016-10-24 21:38] DavidAntaramian commented on #102
@JoshSmith Yes…typing too fast 😞  trying to catch up from Friday's outage

[2016-10-24 23:44] dmvt commented on #102
@DavidAntaramian Aren't we all :)

Love the comments and the idea of using Structs. Let's do that.

[2016-10-25 06:28] JoshSmith commented on #99
Closing in favor of #102.

[2016-10-25 06:28] #99 closed

[2016-10-25 06:30] JoshSmith commented on #71
Reopening because I think we were too quick to close in favor of #102 when that seems like a broader initial RFC.

[2016-10-31 17:42] DavidAntaramian commented on #102
Woo, had way too much to do this week, but now I'm back in working order. I can get the base-level stuff committed tonight or tomorrow night depending on my schedule. Are you going to do a v2 working branch for this?

[2016-10-31 20:19] JoshSmith commented on #102
@DavidAntaramian yes, that's the plan! @dmvt got started with a `2.0` branch that clears out most of the existing code. https://github.com/code-corps/stripity-stripe/tree/2.0

[2016-10-31 20:21] JoshSmith commented on #102
This is good timing since we're now circling back to needing to implement this. We've had some interns learning Elixir and Phoenix for the first time (go them!), so I've been spending a lot of time there. But both @begedin and I should have time freeing up to carry this forward quickly, and I believe @dmvt is similarly expecting to free up here shortly.

[2016-11-01 08:37] andshape opened #103 "List invoices of specific customer"
I am looking for a way to list invoices of a given customer. (https://stripe.com/docs/api/ruby#list_invoices)

Looking at the documentation, my first guess was that Stripe.Invoices.list might be usable for this purpose, but as far as I can see this function does not take customer id as a (optional) parameter.

Stripe.Invoices.get specifies the following (as an example):
`{:ok, cust} = Stripe.Invoi

[2016-11-01 13:24] andshape commented on #103
Seems one way of doing it is:

[code]

But it doesn't necessarily return all (multiple calls with "increasing" `:starting_after` value is needed to get all).

Is there a better way?

[2016-11-01 16:32] JoshSmith commented on #103
@andshape we're preparing a significant rewrite of this package (as seen in #102). I know this doesn't specifically address your question right now, but the implementation is likely to change dramatically in the coming week or two.

[2016-11-01 19:31] dmvt commented on #102
@DavidAntaramian This is indeed perfect timing. I also had a crazy busy week last week, took on a new position and got them going on Elixir. @JoshSmith, this will be blocking for us in the next week or so as well. @joshleecreates will probably be jumping in on this with me.

[2016-11-01 19:46] JoshSmith commented on #102
Excited to watch this get moving.

[2016-11-03 18:01] dmvt commented on #102
@dangeranger would love your comments on the testing strategy

[2016-11-03 19:14] egeersoz opened #104 "Dependency resolution failing for 1.4.0"
I added `{:stripity_stripe, "~> 1.4.0"} to my mix.exs, but dependency resolution is failing:

[code]

Not sure why this it says it requires ~> 1.4.8, since the stripity-stripe mix.lock file says:

`"hackney": {:hex, :hackney, "1.6.1", ...}`

[2016-11-03 19:28] JoshSmith commented on #104
@egeersoz dependency resolution here was not very relaxed and that's really problematic. We're going to relax dependencies significantly going forward.

In the meantime, you can do an override. Not elegant, but it will work.

[2016-11-04 06:49] DavidAntaramian opened #105 "Stripe.URI Efficiency"
The Stripe.URI module code should be reviewed. It's a small issue, but right now it uses `++` with the left operand as the accumulator and the right operand as the added value. `++` is implemented such that the left operand is always copied, so our accumulator is always copied (which is what we don't want). See [The Eight Myths of Erlang Performance](http://erlang.org/doc/efficiency_guide/myths.ht

[2016-11-10 05:56] DavidAntaramian commented on #102
So, I've been working with Stripe on a corporate project with Elixir for a couple weeks now. In terms of a testing solution, what I've had working so far is a system that uses Bypass. It gets extremely complicated because there's no good way to maintain state. So…

First, I would recommend that any test "mock" system be distributed as a separate package. The reason for this is that it will undoubt

[2016-11-10 16:49] JoshSmith commented on #102
@DavidAntaramian are you expecting then that most of _our_ tests here should rely on this external package rather than being self-contained?

[2016-11-10 17:05] JoshSmith opened #108 "Create high-level API for Stripe.Account"
Progress on #115.

- [ ] get an account

[2016-11-10 17:06] JoshSmith opened #109 "Create high-level API for Stripe.Card"
Progress on #115.

- [ ] create a card
- [ ] update a card
- [ ] get a card
- [ ] delete a card

[2016-11-10 17:07] JoshSmith opened #110 "Create high-level API for Stripe.Charge"
Progress on #115.

- [ ] get a charge

[2016-11-10 17:08] JoshSmith opened #111 "Create high-level API for Stripe.Connect"
Progress on #115.

Replacements for:

- [x] generate_button_url(csrf_token)
- [x] get_token(code)
- [x] oauth_deauthorize(stripe_user_id)

[2016-11-10 17:10] JoshSmith opened #112 "Create high-level API for Stripe.Customer"
Progress on #115.

- [ ] update customer
- [ ] retrieve customer
- [ ] create customer
- [ ] delete single customer

[2016-11-10 17:12] JoshSmith opened #113 "Create high-level API for Stripe.Plan"
Progress on #115.

- [x] update plan
- [x] retrieve plan
- [x] create plan
- [x] delete plan

[2016-11-10 17:15] JoshSmith opened #114 "Create high-level API for Stripe.Subscription"
Progress on #115.

- [ ] create subscription
- [ ] update subscription
- [ ] retrieve subscription
- [ ] cancel subscription

[2016-11-10 17:18] JoshSmith opened #115 "Release 2.0.0-alpha.1"
This is a journey issue for collecting everything we need to do in order to release a `2.0.0-alpha.1` of this library. For now, this is everything that we perceive to be high priority for contributors' use cases.

`2.0.0-rc.1` will be a release candidate that at least hits feature parity with `stripity-stripe` `1.4`.

Although some of the issues may appear closed, many of the early ones (108-114)

[2016-11-10 18:32] DavidAntaramian commented on #115
@JoshSmith Wasn't the plan to have a singular naming scheme?

[2016-11-10 18:34] JoshSmith commented on #115
@DavidAntaramian you're right, copy/paste got away from me.

[2016-11-10 18:35] JoshSmith commented on #115
@DavidAntaramian all updated now.

[2016-11-10 18:47] DavidAntaramian commented on #102
@JoshSmith Yes, though I hesitate to think of it as external as much as complementary. Thought it through a bit more. Essentially, what would happen is as follows:

[code]

[2016-11-11 03:36] JoshSmith commented on #108
Closed by #116.

[2016-11-11 03:36] #108 closed

[2016-11-12 08:45] JoshSmith commented on #112
Closed by #117.

[2016-11-12 08:45] #112 closed

[2016-11-12 08:46] JoshSmith commented on #109
Closed by #118.

[2016-11-12 08:46] #109 closed

[2016-11-12 18:05] JoshSmith opened #120 "Create high-level API for Stripe.Token"
We need to have a way to create a Stripe token on a connected account with a user's pre-existing card.

[2016-11-12 18:33] JoshSmith commented on #113
Closed by #119.

[2016-11-12 18:33] #113 closed

[2016-11-12 18:33] JoshSmith commented on #111
Closed by #119.

[2016-11-12 18:33] #111 closed

[2016-11-13 00:44] JoshSmith commented on #114
Closed by #122.

[2016-11-13 00:44] #114 closed

[2016-11-13 00:44] JoshSmith commented on #120
Closed by #122.

[2016-11-13 00:44] #120 closed

[2016-11-13 00:54] JoshSmith commented on #110
Closing because this actually isn't needed for the first set of work we're doing.

[2016-11-13 00:54] #110 closed

[2016-11-13 01:21] JoshSmith commented on #115
Published to Hex: https://hex.pm/packages/stripity_stripe

[2016-11-13 01:21] #115 closed

[2016-11-13 01:23] JoshSmith commented on #102
I'm closing this RFC since much of what we discussed here in imperfect form is now implemented in the `2.0.0-alpha.1` release.

[2016-11-13 01:23] #102 closed

[2016-11-13 01:33] JoshSmith opened #124 "Create a testing package"
We should create a test "mock" system distributed as a separate package. This way, people can do the following:

[code]

The test package can distribute a lightweight replica of the Stripe service. That way, testing can be done something like the following:

[code]

The data can be stored on a per-test basis in ETS, allowing users to build up the necessary state and tear it down without needing to

[2016-11-13 01:34] JoshSmith commented on #71
Closing in favor of #124.

[2016-11-13 01:34] #71 closed

[2016-11-13 01:34] JoshSmith commented on #93
Closing in favor of #124.

[2016-11-13 01:34] #93 closed

[2016-11-13 01:36] joshsmith opened #125 "Add better examples to existing documentation"
Some of the documentation we have for the Stripe object modules could be improved with some better examples. Good examples can be found in the `1.4.0` documentation.

[2016-11-15 09:26] begedin commented on #124
To add something @JoshSmith mentioned in Slack, we could use https://github.com/PSPDFKit-labs/bypass to achieve this behavior at a relatively low level.

[2016-11-15 09:32] begedin opened #126 "High level API endpoints missing from package"
This is a list of endpoints the Stripe API supports, but the package is still lacking. Hopefully, it should serve as a reference and a starting point to create individual issues.

My assumption is that some of these are likely not in consideration for 2.0.0, but I've added them to the list just the same. If nothing else, we can cut-paste those sections into some other issue.

# Basics
- [ ] Render

[2016-11-18 11:44] begedin opened #127 "(2.0) Error matching on Poison.decode for bad request is wrong"
https://github.com/code-corps/stripity-stripe/blob/2.0/lib/stripe.ex#L306

While using the 2.0 branch in code-corps/code-corps-api#455, I tried to trigger an error by attempting to create a customer with a nonexistant plan id:

[code]

This triggered an error within stripity-stripe:

[code]

Going to https://github.com/code-corps/stripity-stripe/blob/2.0/lib/stripe.ex#L306, we do the following mat

[2016-11-19 03:06] JoshSmith commented on #127
Closed by #128.

[2016-11-19 03:06] #127 closed

[2016-11-21 10:18] begedin opened #130 "Bad matching for "card_declined" error"
Triggered this one by using an invalid card information for test mode:

[code]

[2016-11-21 10:23] begedin opened #131 "Bad matching on card create success, stripe_map_to_struct"
Triggered by creating a card in the following process:

Client creates token using test publishable key, and the following information:

[code]

The stripe request passes and the card is returned, but the mapper fails.

[code]

[2016-11-21 10:58] tlvenn opened #132 "Bad matching on APIAuthenticationError and APIRateLimitingError"
Hi,

I was looking at the code for the 2.0 version and I can't really understand how those 2 errors can be emitted with this code:

[code]

Unlike APIError, those 2 errors don't override the `exception/1` method which by default either match on a string or on a list but not on a tuple...

Am i missing something ? @DavidAntaramian can you shed some light on this for me please ?

[2016-11-21 17:42] JoshSmith commented on #132
@tlvenn thanks for pointing this out! I should try to force the former error which will help me figure out how to match on the second error.

I'm not sure you're missing anything, but @DavidAntaramian, please feel free to chime in.

If you wanted to do a PR, we'd gladly accept one!

[2016-11-21 17:44] JoshSmith commented on #104
@egeersoz did relaxing deps help solve the issue temporarily?

Again, 2.0+ is going to help substantially here.

[2016-11-21 18:46] egeersoz commented on #104
I don't know. Since my needs aren't very complex, I ended up rolling out my own Stripe helpers. We can probably close this issue.

What's the timeframe for 2.0, out of curiosity?

[2016-11-21 18:58] JoshSmith commented on #104
@egeersoz not sure, exactly. We have a lot of different irons in the fire. You might want to consider using the low-level API available in the alpha. https://hexdocs.pm/stripity_stripe/2.0.0-alpha.2/Stripe.Request.html

You can track the stuff that's remaining in the milestone.

Do you mind closing this since 1.x branch won't be relaxing deps but 2.x will?

[2016-11-21 20:01] #104 closed

[2016-11-21 21:46] whitepaperclip opened #133 "Account update API missing"
This file: https://github.com/code-corps/stripity-stripe/blob/master/lib/stripe/accounts.ex

Seems to have `update/2` and `update/3` missing, though they're dead simple functions to implement. Just copying from `customers.ex` in the same directory:

[code]

Any reason these were omitted?

[2016-11-21 23:16] JoshSmith commented on #133
@whitepaperclip this repository changed hands recently partly because updates were slow in coming. We're working on a 2.0 branch to provide better coverage with a more solid base.

This will fall under #126 for 2.0.

If you'd like to create a PR for 1.x, then we can add it to a 1.5 or something, but we are largely working on backwards-incompatible changes right now which take the majority of our t

[2016-11-22 01:06] egeersoz commented on #104
Thanks. I looked at the low-level API, but it seems to lack proper documentation and detailed examples. I think I'll just wait for 2.x.

[2016-11-22 01:24] JoshSmith commented on #104
@egeersoz yes, sorry for the slowness here. We're using this in another open source project that has much of our attention.

If you'd be interested/willing to help, could always use it.

[2016-11-22 01:51] tlvenn commented on #105
Yes could leverage iodata and to some extend maybe a bit of https://github.com/benoitc/hackney/blob/master/doc/hackney_url.md

[2016-11-22 01:57] DavidAntaramian commented on #105
Yeah. I have an implementation using iodata in another system. I may just copy it over.

[2016-11-22 02:11] DavidAntaramian commented on #130
Should be closed by #134

[2016-11-22 02:11] #130 closed

[2016-11-22 03:30] DavidAntaramian commented on #132
That's my fault. I implemented that incorrectly

[2016-11-22 03:45] tlvenn commented on #132
Hey no worry at all @DavidAntaramian, after all, we are only humans ;)

Would a mistake like that be catched by Dializer given `APIRateLimitingError.exception({429, api_error})` is not matching the spec of the `exception/1` generated by the defexception macro ?

[2016-11-22 03:47] DavidAntaramian commented on #132
In theory Dialyzer would catch this type of exception since the spec is for `Keyword.t`. However, I'm thinking of re-doing the errors stuff anyways to make them not be exceptions since they're not being raised. That was a poor choice on my part.

[2016-11-22 03:51] tlvenn commented on #132
Ya i was kinda wondering the same, probably best to not use exceptions if they are never raised. I like how it carry the semantic of it being an exception but that is probably a bad idea ;)

[2016-11-22 03:55] DavidAntaramian commented on #132
Well it will probably just get converted to a structure that still has the same info just without the ability to raise it. If someone wants to raise based on it, they'll need to formulate their own error system. In general, the only runtime errors this library should be raising are when the API's return value is not valid JSON and those will come from the Poison lib.

On Mon, Nov 21, 2016 at 10:51

[2016-11-22 04:26] tlvenn commented on #132
Might be worth adding https://github.com/jeremyjh/dialyxir so the devs can easily run Dialyzer

[2016-11-22 04:30] DavidAntaramian commented on #132
@tlvenn Yep :) there's some clean-up that needs to be done to get that working, but I definitely would like to see that get in. There's a whole testing/specs/integration thing that needs to be done.

[2016-11-22 06:16] #131 closed

[2016-11-22 14:44] whitepaperclip commented on #133
Would it be possible for me to submit a pull request for a really quick 1.4.1 release?

[2016-11-22 18:09] begedin opened #137 "Stripe.Connect.Oauth.TokenResponse is missing response_mapping"
`@response_mapping` and the `response_mapping` function are both missing.
This causes a successful token request to fail with an error.

[2016-11-22 21:09] JoshSmith commented on #133
@whitepaperclip yep, that would be fine!

[2016-11-23 05:46] JoshSmith commented on #137
Closed by #138.

[2016-11-23 05:46] #137 closed

[2016-11-23 05:50] JoshSmith opened #139 "Add stripe_user params for Connect authorize_url/1"
Right now `Stripe.Connect.OAuth.authorize_url/1` takes only a CSRF token, but we would like to be able to pass a map according to the docs here: https://stripe.com/docs/connect/reference

These `stripe_user[]` params will be used to auto-fill the sign up form for the account.

![](https://d3vv6lp55qjaqc.cloudfront.net/items/3r2X081X1a3M0M3i3s27/Screen%20Shot%202016-11-22%20at%209.49.32%20PM.png?X-

[2016-11-24 10:39] tlvenn opened #141 "[v2] Add the hackney pool to the lib supervision tree"
I kinda find cleaner and more logical if the hackney pool used by stripity-stripe is supervised by the lib itself instead of being attached to hackney. It's also does not feel right to manually have to start/stop the pool, a supervisor should take care of that.

Example:

[code]

And the `stop/0` don't need to be overridden anymore.

What do you think @JoshSmith @DavidAntaramian  ?

[2016-11-24 18:42] JoshSmith commented on #141
@tlvenn is this for 2.x?

[2016-11-25 01:13] tlvenn commented on #141
Yes @JoshSmith

[2016-11-25 06:42] tlvenn commented on #141
If we agree with the approach, I can submit a PR @JoshSmith

[2016-11-25 06:45] DavidAntaramian commented on #141
@tlvenn Sorry, been offline with holiday celebrations. I am in agreement and looking forward to your PR!

[2016-11-25 06:54] tlvenn commented on #141
No worry, happy Thanksgiving guys and will submit PR soon

[2016-11-28 02:05] DavidAntaramian opened #143 "Spec inconsistencies"
As pointed out by @tlvenn the following two functions should be spec'd against the stricter `Stripe.api_error_struct` type:

 - `Stripe.oauth_request/3`
 - `Stripe.handle_response/1`

[2016-11-28 03:37] tlvenn opened #144 "[v2] Allow for multiple platform accounts"
Right now, the foundation for v2 makes the wrong assumption that the user will be managing a single platform account and therefore use `get_api_key/0` without any mean to override it.

The lib should definitely provide a way to declaratively define the default stripe account but the api should always let the user provide an alternate one.

There are many use cases for managing multiple platform ac

[2016-11-28 03:50] tlvenn opened #145 "[v2] why Token.create_on_connect_account/0 ?"
I don't really understand why there is a `create_on_connect_account` and not a `create` function for  Tokens.

There are many reasons why you would want to create a token out of a customer for a given stripe account. That given stripe account could be a connected account but for example, a platform account could also store all customers across all managed accounts as a way to share credit card inf

[2016-11-28 03:54] DavidAntaramian commented on #144
Agreed on this point, though I'd like to hear a proposal for a way to accomplish this. We could allow it as another key in the generic options list, same as the connect account key.

[2016-11-28 03:55] DavidAntaramian commented on #145
Agreed. Josh is actually the one working with the Connect API. I thought we were going to have a `create/2` function that took an optional parameters list as the second argument which may include a connect account key. Josh, thoughts?

[2016-11-28 04:43] JoshSmith commented on #145
Also agreed. If we can refactor it into a generalized `create` that reuses the `connect_account` option, then that would be fine. Most calls already allow such a thing.

Feel free to PR something that meets both use cases.

I would like to point out, though, that I _really_ think we need to hone in our testing strategy before doing so. Lacking tests is really slowing down pace of development as th

[2016-11-28 05:36] tlvenn commented on #145
Did we settle on an approach to actually test the lib and the stripe endpoint ?

[2016-11-28 05:46] JoshSmith commented on #145
@tlvenn we talked about using Bypass. @DavidAntaramian any more thoughts on that?

[2016-11-28 06:26] DavidAntaramian commented on #145
I used Bypass to test Stripe for Timber, and it ended up being a lot of code duplication, plus we would have to set Bypass as a dependency of StripityStripe if we wanted external users to be able to users our tests, which is why I ultimately recommended the strategy I did over in #102 (copied into #124).

[2016-11-28 07:30] JoshSmith commented on #145
Ok let's move this conversation there.

[2016-11-28 09:06] tlvenn opened #147 "[v2] handle_response does not handle compressed content"
The header `"Accept-Encoding" => "gzip",` is set and yet the `handle_response` is not handling compressed body.

Need something like that:

[code]

[2016-11-28 09:33] tlvenn commented on #144
Ya thinking to simply allow another key in the generic option key named `:api_key`. I will create a PR.

[2016-11-28 10:03] tlvenn commented on #143
@DavidAntaramian I wend ahead and submitted a quick PR to fix this.

[2016-11-28 10:22] tlvenn commented on #144
Another option that is kinda more involving would be to change the way we request the endpoint by splitting the operation being created and the request of the operation, example from ex_aws:

[code]

Modelling operations is such way would allow to explore different options when it comes to testing since it becomes trivial to skip the http layer entirely. But like I said, this is a big departure fr

[2016-11-28 17:06] muhang commented on #104
I just got hit by this issue as well (not a big problem, I'll override, but wanted to let you know it's still going on). I'd be happy to take a swing at fixing it some time this week if you'd like?

[2016-11-28 17:21] JoshSmith commented on #104
@muhang yeah it's definitely problematic. If we can get #140 resolved here quickly then we can see about relaxing deps in a `1.4.1` release.

Also, are you interested in helping with parts of 2.0?

[2016-11-28 17:29] #143 closed

[2016-11-28 17:30] muhang commented on #104
Sure! I'm trying to contribute more to OSS and love elixir, so I'd be happy to help with 2.0. I was just taking a quick look at #140, is the only thing blocking that the two failing tests? It's a weird error there, I could definitely start by helping there if it's holding other stuff up.

[2016-11-28 17:42] JoshSmith commented on #104
It's more that it's blocking the submitter. Not related to 2.0 but could use some love to unblock him.

@muhang if you want to jump into http://slack.codecorps.org then I can give some more direction, too!

[2016-11-28 17:49] muhang commented on #104
Alright cool! I'll hop in that slack channel. Thanks!

[2016-11-28 18:22] egeersoz commented on #103
@andshape This isn't related to stripity-stripe specifically, but one alternative would be to store the invoice data in your database when Stripe sends you the webhooks for them. Displaying them to the customer would be faster, and you can also do things like send regular emails for failed payments (for example).

[2016-12-02 06:26] tlvenn commented on #144
@JoshSmith @DavidAntaramian without debating over an alternate path, it's worth noting 2 things from the above:

- Handling of elixir convention aorund the usage of `!` : Is it something we would like to provide as well ?
- Handling of paginated resources using stream. Is it something we are interested as well ?

[2016-12-02 06:45] DavidAntaramian commented on #144
Just circling back here:

  - Re: ExAws; while I like what they did with the library a lot, I think that it works better for them because of the surface area (`n` number of AWS services) they need to support. For this library, we are dedicated to one service and its ancillary APIs (Connect), so I think we offer better usability for developers by not splitting out the request into a second piece.

[2016-12-02 06:47] tlvenn commented on #144
@DavidAntaramian thanks for the feedback, aligned with all your points.

[2016-12-02 06:52] DavidAntaramian commented on #147
Closed by #148

[2016-12-02 06:52] #147 closed

[2016-12-02 06:54] tlvenn commented on #144
This issue can be closed now that #149 has been merged.

[2016-12-02 06:55] #144 closed

[2016-12-02 06:55] JoshSmith commented on #144
@tlvenn @DavidAntaramian let's not lose the discussion here, though, and place it in a relevant issue if we can.

[2016-12-11 19:44] JoshSmith commented on #141
Closed by #142.

[2016-12-11 19:44] #141 closed

[2016-12-12 00:34] JoshSmith opened #154 "Add API to create a file upload"
We need to write an interface to file uploads. We can just do `create` for now:

API docs: https://stripe.com/docs/api/curl#create_file_upload

[2016-12-13 01:46] snewcomer commented on #154
I can take a wack at this.

[2016-12-13 18:20] snewcomer commented on #154
https://github.com/snewcomer/stripity_stripe/commit/26e019782cb4e2e0c7a13f9e34a7b9bd90789907

So what are we using for testing.  Still trying to figure that out?

[2016-12-13 19:40] JoshSmith commented on #154
@snewcomer can follow progress on https://github.com/code-corps/stripity_stripe_testing/issues/1 but @DavidAntaramian is trying to have some time free up on this one.

For now, just test manually and push.

[2016-12-13 19:41] JoshSmith commented on #154
We won't be using VCR or anything like that. The interface has changed some for 2.0, too.

[2016-12-14 20:00] snewcomer commented on #154
WIP
https://github.com/snewcomer/stripity_stripe/commit/58622f644eb4a52517616fd3e01c0dd5138ad117

One last thing is to get the header right with `multipart/form-data`

[2016-12-14 22:31] JoshSmith commented on #154
@snewcomer awesome! What's the reason for the header?

[2016-12-15 02:07] snewcomer commented on #154
@JoshSmith looks like the request type needs a Content-Type of `multipart/form-data`

https://stripe.com/docs/api#create_file_upload

I *think* this line (https://github.com/code-corps/stripity_stripe/blob/2.0/lib/stripe.ex#L229) needs to also have the option of merging in a different Content-Type `multipart/form-data` as well.  Lmk if that is not the case.

[2016-12-15 02:34] JoshSmith commented on #154
@snewcomer you're right, in which case it might make sense to have a different kind of request here for the `create`. See how there's a different `oauth_request`? Think there should be one for multipart form data.

[2016-12-15 02:35] JoshSmith commented on #154
@snewcomer this especially makes sense because the base URL differs, too: `https://uploads.stripe.com` instead of the normal API URL.

[2016-12-15 03:12] JoshSmith commented on #139
Closed by #146.

[2016-12-15 03:12] #139 closed

[2016-12-15 03:15] JoshSmith opened #157 "Add API to retrieve an event"
We'll need a `Stripe.Event` module to `retrieve` an event from Stripe using its `id`.

You can look to similar things on the `2.0` branch to copy from.

[2016-12-15 05:02] JoshSmith commented on #157
Closed by #158.

[2016-12-15 05:02] #157 closed

[2016-12-16 02:05] JoshSmith commented on #154
Closed by #160.

[2016-12-16 02:05] #154 closed

[2016-12-18 20:42] Faolain opened #162 "[v2] Subscription Update -> Plan Same ID as Subscription?"
Hey guys I'm not sure if this is an issue on my end but I was previously using the v1.4 API and I believe I was able to access plan.id of a plan as described by the response in https://stripe.com/docs/api/node#update_subscription however it seems that the ID that is returned for the plan is the same id as the subscription id? Is it then possible there is an issue with mapping the result here: http

[2016-12-18 21:04] Faolain commented on #162
Additionally it seems that created fields are also the same values (where in actuality they were created at different times) which leads me to believe the mapping on
https://github.com/code-corps/stripity_stripe/blob/2.0/lib/stripe/util.ex#L14

is overwriting the values of the nested module with that of the parent module. Can anyone confirm/suggest a fix?

[2016-12-19 00:58] JoshSmith commented on #162
@Faolain I know there are some refactorings pending as part of @SViccari's work on #153.

[2016-12-19 01:32] Faolain commented on #162
ahh I see he has the following fix:

https://github.com/code-corps/stripity_stripe/pull/153/files#diff-5f64bc059f059b08e9a71e72c4e48409R21

which also remedies the situation.  Any ideas when his work will be merged? Nested json is somewhat important so I can imagine others may be having similar issues and might simply not even know it yet. Also thanks for all the this work maintaining such an impo

[2016-12-19 01:51] JoshSmith commented on #162
Sorry, just to clarify: the original author of the PR was @begedin (he) but @SViccari (she) is now doing some work. I'm not sure yet when her work will be there, but I think shortly.

The nested issue is actually much deeper even than this (correctly identified, I think) issue – we need to handle a variety of deeply nested structures due to Stripe's API design, many of them retrievable objects fro

[2016-12-19 06:16] SViccari commented on #162
PR up for review :grinning: @Faolain, I would love your feedback in knowing if PR #165 addresses your concerns.

[2016-12-19 17:05] Faolain commented on #162
Thank you both!!

[2016-12-20 13:00] begedin opened #167 "The Stripe List object/module"
Encountered this problem when working on #166. Lists aren't being properly mapped ~~at all~~.

EDIT: I was being hasty here and made a mistake. Turns out, the list does get converted as a regular map. However, I still think we should have a way to map items in the list to their respective structs.

Here's what a list looks like:

[code]

Our converter maps this as a regular map, converting string

[2016-12-20 17:21] begedin opened #170 "Add support for other fields in Account.create"
Basic support for `Account.create` has been added in #169

However, based on documentation in https://stripe.com/docs/api#create_account, it should also be possible to POST any field which is also available in the update action.

Since we use the `@valid_create_keys` approach in our create requests, we should discuss how to implement this functionality.

[2016-12-29 21:23] bbixler opened #172 "Stripe.Charge using token instead of card values"
Has anyone begun working on the ability to charge using a Stripe token (supplied via stripe.js as described here: https://stripe.com/docs/custom-form)? If not, I'm happy to give it a go. Should I develop against the 2.0 branch?

[2016-12-29 23:17] JoshSmith commented on #172
@bbixler this should be available on `2.0` right now! https://github.com/code-corps/stripity_stripe/blob/2.0/lib/stripe/card.ex#L69-L91

If you're interested in helping on some other endpoints, we could certainly use the assistance!

[2017-01-01 21:54] joshsmith opened #174 "Add lists of nullable values"
Certain modules are going to need to pass nullable values into the `update` fn for values that can be unset in the API.

### Charge
- [x] description

### Customer
- [x] business_vat_id
- [x] description
- [x] email
- [x] metadata

### Dispute
- [x] metadata

### Transfer
- [x] description

### Transfer Reversal
- [x] description

### Account
- [x] metadata
- [x] transfer_statement_descriptor

###

[2017-01-02 08:15] begedin opened #175 "Figure out support for `additional_owners` in `Stripe.Account`"
As far as I can tell, `additional_owners` is a list where each item can be basically an additional legal entity. We do not support such a case yet so we need to figure out how to deal with lists in general and this one specifically.

[2017-01-02 09:27] JoshSmith commented on #170
@begedin how outdated is this now? How much do we need to fix here given the big PR merge?

[2017-01-02 09:31] begedin commented on #170
This ought to be closed. The way it's phrased, it's completely out of date. #173 really adds fields fro update, create and retrieve. If any were missed, those can be considered bugs and fixed as/if we find them.

[2017-01-02 09:31] #170 closed

[2017-01-02 15:44] begedin opened #176 "tos_acceptance is missing from Account struct keys"
Simple issue. Will probably involve a simple fix, but I thought I should have an issue for it, just for the sake of consistency.

[2017-01-02 15:45] begedin opened #177 "DateTime needs special handling in `convert_value`"
`DateTime` currently falls under the `is_map` matcher in `convert_value`, so we need a special case for it. Should be a simple fix.

[2017-01-02 20:30] #177 closed

[2017-01-02 20:33] #176 closed

[2017-01-02 20:33] JoshSmith commented on #162
@Faolain is this issue addressed now?

[2017-01-02 22:00] fastjames commented on #88
It looks like this has already been added in the 2.0 branch (https://github.com/code-corps/stripity_stripe/blob/2.0/lib/stripe/connect/oauth.ex#L171). Am I reading that file correctly?

[2017-01-02 23:42] JoshSmith commented on #88
@fastjames I believe you're right. I think I failed to update since I opened this issue well before we took the reigns here.

[2017-01-02 23:42] #88 closed

[2017-01-04 14:32] begedin opened #182 "Add dialyzer, fix dialyzer issues"
Creating this issue after the PR, but thought we should still have it, just in case.

#181

[2017-01-04 14:35] begedin opened #183 "Make dialyzer run on Travis"
There is a description on http://blog.danielberkompas.com/elixir/2015/04/03/run-dialyzer-on-elixir-on-travis.html

Since we use the mix task, adding `mix dialyzer` after `mix test` in the `.yml` might be enough, but we should look into it.

[2017-01-04 17:17] JoshSmith commented on #182
Closed by #181.

[2017-01-04 17:17] #182 closed

[2017-01-04 17:29] fastjames commented on #105
If your goal is to remove the ++ operation (which I understand for performance reasons) wouldn't the simple fix be something like this?

[code]

or do you want to avoid Enum.reverse as well? I haven't read the source on that one but I assumed one round of it was OK.

[2017-01-04 18:38] DavidAntaramian commented on #105
The `Enum.reverse` is fine. The problem with `++` is the way the memory allocation and copy-on-write mechanism works with the VM.

The solution that you have given looks like an improvement, but I think the overall logic (such as use of `Enumerable.impl_for/1`) can be improved.

[2017-01-04 18:42] JoshSmith commented on #105
@fastjames given that I think if you want to open a PR to spike this out and see if @DavidAntaramian or someone else can provide feedback on that, I'd be really thankful!

[2017-01-04 22:11] fastjames commented on #105
Pull request submitted: https://github.com/code-corps/stripity_stripe/pull/184

[2017-01-12 23:57] begedin opened #186 "Switch to pattern match on "object" keys to determine how to serialise nested objects"
Some stripe objects, such as events or subscriptions can contain other objects. In the case of subscriptions, the "sub-object" is always a plan, so we rely on the `@relationships` attribute to determine how to convert that nested object into a proper struct.

Hover, in cases such as events, this nested object can be any other stripe object, so we cannot rely an a system of relationships.

What we

[2017-01-15 00:49] begedin opened #188 "Use pattern matching on lists and list items to properly convert them to structs."
From #187, we should be able to similarly pattern match on lists to convert them and their content into structs properly. This will probably involve also defining a Stripe.List module, but we might be able to avoid that and just pattern match on `data: []`.

[2017-01-15 00:50] begedin opened #189 "Pattern match on the object key in a stripe response to convert to proper module"
From #187, if we similarly pattern match on the root object key, we should be able to eliminate the need to send a module as a parameter to `Converter.stripe_map_to_struct`. If we look into it, it might even be possible to eliminate this need from the various `Request.<action>` methods.

[2017-01-16 02:04] begedin commented on #188
Closed by #191

[2017-01-16 02:04] #188 closed

[2017-01-16 02:05] begedin opened #192 "Add support for fetching next page of records to Stripe.List"
The `Stripe.List` module should have support for fetching the next page of records.

This can be done by using information from the properties of a `%Stripe.List{}` struct

[2017-01-18 14:50] dax0 opened #194 "Creating a charge 2.0"
Is this possible yet with the 2.0 library?

[2017-01-18 21:47] #194 closed

[2017-01-21 19:58] joshsmith opened #196 "Upgrade 2.0 to latest"
We need to upgrade to `2017-08-15` https://stripe.com/docs/upgrades?since=2016-07-06#api-changelog

[2017-01-22 18:40] bbixler commented on #172
Thanks Josh. Apologies for the delayed response. This appears to be what I need.

[2017-01-22 18:40] #172 closed

[2017-01-27 12:59] Alexandre-Herve opened #198 "Which version to go for as of Jan. 27 2017"
Hi,
I'd like to implement stripity_stripe. Is version 2.0.0-alpha.5 the way to go or should I stick to 1.x for now ?

Thanks
Best regards

[2017-01-27 22:40] JoshSmith commented on #198
@Alexandre-Herve there isn't much backwards compatibility or support for 1.x, but we haven't covered the full API yet for 2.x. However, we do use 2.x in production even though it's an alpha. No easy answer here but does that help?

[2017-01-28 11:40] Alexandre-Herve commented on #198
Thank you for your quick answer, I will give a try to version 2.x too then.

[2017-01-28 11:40] #198 closed

[2017-01-31 15:42] aseigo opened #202 "Assumes top-level configuration in app config"
Looking at usage of get_env in stripity_stripe (branch 2.0), there are these uses:

lib/stripe/connect/oauth.ex:    Application.get_env(:stripity_stripe, :connect_client_id)
lib/stripe/connect/oauth.ex:    Application.get_env(:stripity_stripe, :api_key)
lib/stripe.ex:    Application.get_env(:stripity_stripe, :pool_options)
lib/stripe.ex:    Application.get_env(:stripity_stripe, :api_base_url)
lib/

[2017-01-31 15:52] aseigo commented on #202
Actually, simpler would be to do as Ecto et al do: support an :otp_app option which is then used for the configuration source. (Sorry for the brainfart-overly-complex solution suggestion above..)

[2017-01-31 16:12] DavidAntaramian commented on #202
Could you elaborate more on the use-case by-which an application would include this library in the manner you've suggested?

[2017-01-31 19:10] JoshSmith commented on #202
@DavidAntaramian, my guess is that @aseigo's project https://github.com/aseigo/cashier is the use case here.

[2017-02-01 21:39] swelham commented on #202
@JoshSmith @DavidAntaramian yes, I can confirm that this is indeed the use case.

We're building a payment gateway which will support multiple payment providers under a single public interface. Our intention is to use your library to prevent reinventing the work you guys have already put in and the above enhancement would make this possible for us.

[2017-02-01 21:49] asummers opened #203 "2.0 Branch - Lists Question"
The documentation suggests that lists are coming. I have a branch locally that adds support for retrieving all cards, and I added a function in the main request handler to handle lists of results in the same way that the Converter maps a single map to a single struct. I can PR this later, but wanted to get a signal to see if this is what you all were thinking.

[code]

Then everything has the same

[2017-02-01 22:05] JoshSmith commented on #203
@begedin can you comment on this? My understanding was that we had now added in some support for lists, but we do not yet handle fetching more results.

[2017-02-01 22:33] aseigo commented on #202
Indeed, that's the one ... and to be fair/clear, it's actualy @swelham's project :) I'm just throwing a bit of code his way ... thanks for the quick response!

[2017-02-02 01:01] DavidAntaramian commented on #202
Gotcha. This seems logical. Not sure that `:otp_app` would be a complete solution since Ecto is being included by a macro which then uses the variables passed to it. We definitely could tailor the configuration fetching to allow for the configuration to be "injected". I'd like to keep using application configuration as the single source of truth, but figure out a way that we can allow consumer lib

[2017-02-02 01:31] JoshSmith commented on #202
If I were consuming the package I would definitely prefer the ExAws approach, fwiw.

[2017-02-02 02:06] asummers commented on #203
There IS a Stripe.List struct with some tests surrounding it, but they don't seem to be working with the list endpoints, e.g.

AFAICT, from the tests, I should be able to do the following:

[code]

but that results in the following:

[code]

[2017-02-02 09:02] swelham commented on #202
My long term goal is the ExAws approach whereby users will have to bring in the payment gateways they want to use. However as it stands at the moment everything is bundled together to allow quick refactoring whilst we work out the approach we want to take.

This is how we would like our users to configure a gateway within cashier.
[code]

This is would be the only stripe specific thing a user is r

[2017-02-02 14:16] asummers commented on #203
Oh I see. In that case, I guess the question becomes, should retrieve_manys be added everywhere? And at what level does the pagination intend to happen?

[2017-02-02 21:42] asummers opened #204 "2.0 Feature Requests"
It would be really helpful if there were support for the Order, SKU and Product endpoints. I see that [this](https://github.com/code-corps/stripity_stripe/issues/126) issue already exists, which references them, so feel free to close this if you think that issue covers this.

[2017-02-02 23:43] JoshSmith commented on #204
@asummers thanks for this. Yes, I do think that issue covers this. You can please feel free to take a stab at these – supporting those endpoints will be similar to existing code.

[2017-02-02 23:43] #204 closed

[2017-02-02 23:59] begedin commented on #203
@JoshSmith , @asummers

What we have right now is not really support for retrieving lists. The support we have is for serializing list within other responses. For example, when retrieving a customer with multiple sources, the list of sources will be a `Stripe.List` struct.

We are not sure yet, but ideally, **I believe we would like to mimic the Stripe documentation.**

Using an example of charges

[2017-02-03 02:32] asummers commented on #204
Sounds good 👍

[2017-02-03 04:42] asummers commented on #203
@begedin I didn't quite understand the way the paging works in Stripe's API, so I guess my solution isn't quite complete for people with > 10 cards. The followup question, then, is what do we intend to do with the various options? They are sufficiently complicated and warrant at least minor discussion before going in.

It would be very nice to express similarly to the actual post params, etc. so t

[2017-02-03 16:41] JoshSmith commented on #203
@asummers I'm not sure how much validation this library should do vs letting people just make requests and get errors from the API. Not sure if I misunderstood that piece.

[2017-02-04 03:26] asummers opened #208 "2.0 Deeply Nested Paths Bugs / Questions"
Hello,

This is a very long one with several bugs, please let me know if I can provide more detail.

Currently implementing Product, SKU, and Orders, but running into a few problems with different modules with how things are currently implemented.

1)

The `@schema` for `Stripe.Product` would looks something like:

[code]
Per the Stripe documentation [here](https://stripe.com/docs/api#product_obje

[2017-02-04 15:44] asummers commented on #203
Well there's already a decent amount of validation done as far as checking nulls and making sure that you're only setting values that are settable on :create. See my comments in #208

[2017-02-04 21:20] JoshSmith commented on #203
@asummers this is a fair, well-considered point.

By the way, I gave you a commit bit. If you want to join our Slack and chat in the #stripity-stripe channel, please do: http://slack.codecorps.org/

[2017-02-07 09:07] begedin commented on #208
Large amount of questions here, so I'll try to address each separately. A lot to wrap my head around, but a good way to move this library forward.

[2017-02-07 09:08] begedin commented on #208
It does look like we may end up needing to expose it. We used to have something similar with another property. The basic approach we used, applied here would be:

* Keep the `@schema`
* Define a `def schema, do: @schema` to expose it

[2017-02-07 09:26] begedin commented on #208
Reading through all of this, I'm sort of also inclined to scrap the whole layer. Stripe has opinions of it's own about validation and will return error responses if we send it data that doesn't match those opinions, so this whole thing sort of feels like we're reimplementing something stripe already has implemented.

I think we need to discuss this whole layer, as we didn't properly document why w

[2017-02-07 09:55] begedin opened #210 "Stripe.URI.encode_query does not support maps containing nested lists"
Something like this:

`Stripe.URI.encode_query` will fail on something like

[code]

However, per Stripe documentation, if we want to fully support Stripe API features, we need to be able to do that. An example of a request which uses this exact format would be:

https://stripe.com/docs/api#create_order

This issue is created based on findings by @asummers in #208

Interestingly, even Phoenix code

[2017-02-07 09:56] begedin commented on #208
Absolutely.

This, however, seems to be a whole different issue which probably needs discussion of its own. It's related to the problem we have (still not supporting a bunch of endpoints), but it's a bug within the module we defined.

For that purpose, I've created #210.

I think a good first step, while we further discuss this here, would be to tackle that issue.

[2017-02-07 09:57] begedin commented on #210
The way I would approach this problem is to write a failing test for `Stripe.URI.encode_query` which uses the above failing structure. We can then try to look into reimplementing the ruby code to try and tackle it. This would also be a good opportunity to write other tests fro `Stripe.URI.encode_query`

[2017-02-07 12:20] asummers commented on #210
I have a fix for this general problem in a branch for this project: https://github.com/shhavel/uri_query/pull/3

I have a failing test and then fix to have the Stripity Stripe code to call this and am just waiting on this to be merged before I bring it in as a dependency.  Corresponding tests from #208 in https://github.com/code-corps/stripity_stripe/compare/2.0...asummers:failing-map-tests

[2017-02-12 12:28] swelham commented on #202
@JoshSmith @DavidAntaramian Any further thoughts on this?

[2017-02-12 19:40] sylv3r opened #214 "New alpha release"
Hello guys,

What do you think about releasing a new alpha version soon, there were a lot of merge recently which could benefit a new mainstream version.

[2017-02-13 00:52] DavidAntaramian commented on #202
@swelham Meant to loop back on this, sorry!

I was mulling this over, and I don't know if it's actually necessary for us to change anything. Here's my reasoning:

 - We assume that the configuration information that the package relies upon will be located in the application configuration, a standardized and stateful repository of configuration information
 - We _do not_ assume that the configurati

[2017-02-13 11:29] swelham commented on #202
I agree, this looks like a good solution that will suit both libraries.

Each cashier gateway has an `init` callback where this setup could be done, or I might enhance the gateway supervisor to sort this out so that each gateway doesn't need to check if it has already been done.

@aseigo As you're working on the stripe gateway, what do you think about this?

[2017-02-13 14:11] asummers commented on #183
On my local, running without storing a PLT file adds ~10 minutes to build time. There aren't enough PRs to this project where that's a crazy amount to simply add. I vote we just add it to the travis file, along with a `mix compile --warnings-as-errors`.

[2017-02-15 13:42] JoshSmith commented on #214
@begedin would you be able to cut a release this afternoon?

[2017-02-15 13:43] JoshSmith commented on #202
Awesome let us know if this is indeed workable and perhaps you could set up a PR to document what David outlined.

[2017-02-16 09:54] begedin commented on #214
@JoshSmith I published a github release, but I do not have the authority to publish a new hex package version. Someone will need to add me, or either you or @dmvt will have to do it.

[2017-02-16 20:46] JoshSmith commented on #214
I'll do it here shortly.

[2017-02-17 18:44] JoshSmith commented on #214
@sylv3r released as https://hex.pm/packages/stripity_stripe/2.0.0-alpha.6

Docs here: https://hexdocs.pm/stripity_stripe/2.0.0-alpha.6/api-reference.html

[2017-02-17 18:44] #214 closed

[2017-02-27 15:27] begedin opened #219 "Existing VCR tests are very flaky"
Our existing VCR tests are very flaky.

- Our helper methods which "precreate" api records for tests use outdated information (for example, card expiry year 2016)
- If VCR tapes need to be updated, we need to
  - Delete all tapes for a certain section (for example, accounts)
  - Re-run the tests in that section with `--seed 0` so they run in a specific order
  - Even then, in some cases, the tests

[2017-02-27 15:28] begedin commented on #219
I'm not really sure what our end goal with VCR tests is, but I felt this issue needed to be raised and discussed.

[2017-03-01 17:11] whitepaperclip commented on #133
Fixed in pull request #218

[2017-03-01 17:11] #133 closed

[2017-03-09 08:46] begedin opened #220 "Add CountrySpec endpoints"
Pretty self-explanatory. We need to add functionality to deal with CountrySpecs

https://stripe.com/docs/api#country_specs

- [ ] the object
- [ ] the endpoint to list all
- [ ] the endpoint to retrieve a single

[2017-03-10 20:20] JoshSmith commented on #219
Do we want to be actively fixing these if we're dropping long-term support for 1.0? I think time is probably better spent getting to 2.0 to parity with Stripe and making that testable.

[2017-03-11 12:19] banzay commented on #220
Hi @begedin. On a branch 2.0 I've tried to create `the endpoint to list all` but `Stripe.Request.retrieve` doesn't support this.
Looks like blocked by #192

[2017-03-12 09:44] banzay commented on #192
I can work on this

[2017-03-13 07:53] begedin commented on #219
The tests that are there do actively test features in 2.0 as well.  However, changing pretty much anything in them breaks most if not all of them at once.

Additionally, fixing or not, the recorded vcr tapes, which are stored in the repo and publicly visible, expose our stripe secret keys. If we want to re-record them with an active filter., then the tests break.

[2017-03-13 17:32] JoshSmith commented on #219
Yeah this is why VCR is just a horrible idea generally for this. I thought it was ripped out of 2.0 entirely?

[2017-03-13 17:34] JoshSmith commented on #192
@davidantaramian do you have any useful examples of this from your app?

[2017-03-15 11:58] begedin commented on #219
No, a bunch of tests with prerecorded tapes still seems to be there. All tapes have the api key exposed. As I said, we could use filtering to hide those, but that means all tests break because they have been recorded in a predetermined order, which needs to  be figured out, or they need to be rewritten so they don't need a predetermined order.

[2017-03-15 15:23] JoshSmith commented on #219
I don't think we want any VCR related tests in 2.0.

[2017-03-15 17:46] jayjun opened #222 "2.0 DELETE request must accept parameters"
When cancelling a customer's subscription, you can cancel it immediately or pass `at_period_end=true` to,

It's impossible to workaround now because [`Stripe.Request.delete/2`](https://github.com/code-corps/stripity_stripe/blob/2.0/lib/stripe/request.ex#L46) hard-codes a blank map.

Would love to submit a PR, but may need project-wide changes so it's worth a discussion first.

[2017-03-15 20:30] JoshSmith commented on #222
Hey @jayjun! I didn't realize that this was possible (and we've been trying to work to increase that sort of coverage), so I think this is something that we should accept. The change doesn't sound too large or unwieldly and I would gladly accept it in a PR.

Let me know if there's anything I can do to help. You can also feel free to join our Slack to talk further (link is in the README).

[2017-03-29 08:42] gmile opened #227 "Incorporate Stripe's OpenAPI spec"
(this is not an issue in the library per se, just a proposal / heads up)

Recently Stripe started to publish their API in a form of OpenAPI spec – https://github.com/stripe/openapi/tree/master/openapi.

Having the API spec in a machine-readable form is useful to build automation around the spec: generate clients, check that clients conform the spec, etc.

I think it should be useful to incorporate

[2017-03-29 15:33] JoshSmith commented on #227
@gmile thanks for bringing this to our attention. I'm very interested in making this happen. Do you have any interest in kicking off a PR, even just to spike something initial out?

[2017-04-25 06:19] banzay commented on #124
Hi @JoshSmith. I can work on this.
This looks like a useful resource: https://github.com/rebelidealist/stripe-ruby-mock

[2017-05-31 05:03] wzph commented on #227
@gmile how are you consuming the Stripe spec?  It fails for me in latest swagger-codegen.

[2017-05-31 11:31] gmile commented on #227
@wzph tbh we don't use Stripe APIs / their OpenAPI spec as of right now

[2017-05-31 21:35] wzph opened #234 "Stripe API version tracking"
Generally: Is there a way to discern when stripity_stripe will target a new Stripe API version?

Specifically: I'm interested in the distinction between Payouts and Transfers introduced in [2017-04-06](https://stripe.com/docs/transfer-payout-split).

[2017-06-01 17:22] JoshSmith commented on #234
@wzph thanks for the question!

We're trying to stay on top of it but are a bit overwhelmed with other OSS commitments. Trying to onboard more volunteer help now to get to parity with the Stripe API's surface area, develop some integration testing infrastructure, and stay up-to-date with the latest changes in versioning on Stripe's side.

Needless to say, we're having a hard time keeping up.

If y

[2017-06-02 07:08] jayjun commented on #222
Released with 2.0.0-alpha.7.

[2017-06-02 07:08] #222 closed

[2017-06-02 21:02] wzph commented on #234
@JoshSmith, thanks for the follow up.  This is a bit of a blocker for me, so if I can't work around it, I will investigate contributing to stripity_stripe.

[2017-06-08 10:48] Awea opened #237 "Module not available: UriQuery"
Hi there in my newly released application I get a `module UriQuery is not available`. I think it's because `:uri_query` is missing from the `apps` list.

I'll submit a fix.

[2017-06-08 21:07] poops commented on #237
Thanks, I just ran into this issue on our staging (didn't show up in development) and this fix worked

[2017-06-08 21:17] Awea commented on #237
You're welcome. It's a common issue in many elixir library ^^

Le 8 juin 2017 23:07, "poops" <notifications@github.com> a écrit :

[2017-06-09 09:08] begedin commented on #237
Closed by #238

[2017-06-09 09:08] #237 closed

[2017-06-13 04:20] jayjun commented on #203
@asummers Are you still working on this?

To start with, I'm frankly happy to have, say, a `Stripe.Charge.list` function that mirrors [official documentation](https://stripe.com/docs/api/curl#list_charges), i.e. default limit 10, most recent sorted first.

As @begedin mentioned, we can have convenience functions built atop these "lower" level ones after we nailed them. If I'm not duplicating work,

[2017-06-16 21:27] asummers commented on #203
@jayjun I haven't had an opportunity to look into this issue in some time. I had some work like the approach outlined in the topmost post of the issue in a fork, but it has probably diverged sufficiently that it should probably be scrapped at this point.  Your PR is certainly welcome :)

[2017-06-19 15:11] mtmorra opened #243 "HTTPoison request errors are not handled"
The Stripe.make_request_with_key function contains the following line:

`{:ok, response} = request(method, endpoint, rb, rh, options)`

This line calls HTTPoison.Base.request which can be seen here (https://github.com/edgurgel/httpoison/blob/master/lib/httpoison/base.ex)

In the documentation for that function it states:
[code]

We have encountered the case where a call to create a stripe charge t

[2017-06-21 17:42] JoshSmith commented on #227
I know this has been open for some time, and that @gmile you're not necessarily needing it, but just wanted to comment that I've made no progress on this and not sure when it'll become enough of a priority to tackle.

Would happily help someone out that's interested in a PR, though!

[2017-07-04 11:46] begedin commented on #203
Basic lists are now in thanks to @jayjun. We can open further issues if necessary.

[2017-07-04 11:46] #203 closed

[2017-07-11 05:40] JoshSmith commented on #243
@mtmorra I would consider making a separate issue for the timeout value mismatch so we can track and fix that separately.

What version is this on? 2.x?

[2017-07-11 14:11] mtmorra commented on #243
@JoshSmith The response matching issue is on the latest 1.x release. https://github.com/code-corps/stripity_stripe/blob/master/lib/stripe.ex#L107

I see there has been some major refactoring for the 2.0 release.  I haven't looked through it in depth, but it appears response handling is better there so the matching issue may be resolved in that version.

I have been unable to find any additional in

[2017-07-22 08:58] Awea opened #245 "Webhook usage with Phoenix"
Hi there,

I'm trying to use `Stripe.Webhook` in my current project. I'm using stripity_stripe 2.0.0-alpha.10. Here is my implementation:

**Controller**

[code]

Here is my test (inspired by [test/strip/webhook_test.exs](https://github.com/code-corps/stripity_stripe/blob/2.0/test/stripe/webhook_test.exs#L23)):

**Test**

[code]

I know this test is not a test but it give me what I need to debug m

[2017-07-22 14:57] Awea commented on #245
Found it!

There is an extra space in `@valid_payload ~S({"object": "event"})`. And this cause the signature to be different. So removing it solve my issue with the tests.

[2017-07-22 14:57] #245 closed

[2017-08-11 22:14] mjadczak commented on #227
It seems that at least for testing, the [stripe-mock](https://github.com/stripe/stripe-mock) tool would be great—it pulls from the OpenAPI spec and [seems to be what Stripe itself is using now for official library tests](https://github.com/stripe/stripe-ruby/commit/00180c5f35c558c806b6137565613b0c71660191).

[2017-08-14 05:48] GildedHonour opened #247 "An exception is thrown rather than a result with {:error, ...} being returned"
This code throws an **unhandled** exception instead of returning a result with {:error, res} :

      # 1
      res = Stripe.Customers.create(email: stripe_email, source: stripe_token)
      IO.puts("ok or error")

      # or 2
      case Stripe.Customers.create(email: stripe_email, source: stripe_token) do
        {:ok, data} ->  IO.puts("ok")
        {:error, data} ->  IO.puts("error")
      end

[2017-08-14 06:08] begedin commented on #247
@GildedHonour We're going to need more information here.

- What's the exact exception you're getting?
- What are the values of `stripe_email` and `stripe_token` (in case those are not safe to share, what are their formats, etc.)

I'm performing the calls you listed above and cannot reproduce the issue with my data.

[2017-08-14 06:31] GildedHonour commented on #247
1) the exception has been specified
2) they're in the proper format

try stripe card number: 4000000000000341

[2017-08-14 15:12] mjadczak opened #248 "[v2] Reconsider use of changesets"
As mentioned in other issues (#208, #215) the use of `Stripe.Changeset` to update objects on the server is problematic, posing issues when working with nested objects and being prone to becoming outdated when the schema changes. Stripe already performs thorough validation of data sent up and returns informative error messages. We should reconsider what value, if any, changesets provide in this con

[2017-08-14 15:28] mjadczak commented on #248
Further, there is the issue of whether we should allow something like a `save` at all (making changes to a struct and then pushing them back to the server), or whether we should solely rely on `update` for making changes. If the latter, that gives an easy place to make certain checks.

[2017-08-14 15:59] mjadczak opened #250 "[v2] Allow deletion using struct"
It should be possible to use the `delete` functions with a `Stripe` struct, not just with the id itself. It's a simple change but will remove unexpected errors and is in line with how e.g. `Ecto.Repo` behaves.

[2017-08-14 20:05] mjadczak commented on #248
I've been reading through the [.NET Stripe library code](https://github.com/stripe/stripe-dotnet), since I was curious how they handled the "objects look different when creating/updating/retrieving" issue in a statically typed language.

What they do is simply consider the options when creating or updating a separate type of object, e.g. a `StripeSubscriptionCreateOptions` vs a `StripeSubscription

[2017-08-16 09:56] begedin commented on #248
@mjadczak

We aren't being extremely responsive, but to reassure you, I've been keeping track of what you're doing and I like where it's going.

We've been seeing the problems our changeset approach is creating and you've assumed correctly that it comes from a ruby background.

Feel free to go ahead with the suggested approach.

[2017-08-16 13:07] mjadczak commented on #250
This probably falls under greater considerations of the public API in #248.

[2017-08-16 13:07] #250 closed

[2017-08-16 13:17] mjadczak commented on #248
Thanks @begedin, I get that you guys are busy on other things.

I'm wondering how far this should be taken. As I mentioned, the .NET library seems to use the Entity classes (e.g. [`StripeSubscription`](https://github.com/stripe/stripe-dotnet/blob/master/src/Stripe.net/Entities/StripeSubscription.cs)) as dumb data containers, and all the server-interacting logic is done through services like [`Stri

[2017-08-16 14:17] begedin commented on #250
@mjadczak The logic makes sense, but it would be applicable to `update` as well, no?

[2017-08-16 14:24] begedin commented on #248
I don't like the idea of breaking the interface in a major way, unless that's done gradually, through deprecations. I know this library is marked as "alpha" in the 2.0 branch, but most users seem to be using that branch.

Regardless of internal implementation, I would go with keeping the API intact in the first step and making the switch internal.

I like the idea of having a dumb `%Subscription{}

[2017-08-16 18:52] GildedHonour commented on #247
@begedin

[2017-08-16 23:19] mjadczak commented on #248
Fair enough! Let's get the features in place before we get lost in merits of one API convention over another. If the code is properly structured, it should not be hard to change it at a later stage and deprecate the current approach with warnings, if that's what's decided.

Oh yes, definitely. I wrote that when looking at the Ruby API, before I reconsidered the approach. The whole notion of "save"

[2017-08-17 05:40] JoshSmith commented on #248
Agree with the general consensus of the conversation so far, particularly:

and:

[2017-08-17 05:43] JoshSmith commented on #247
@begedin sorry to double-ping, but I haven't had a chance to try with this Stripe test card number. I'm not sure which card reason it refers to, but you should be able to find it on their testing page.

[2017-08-17 07:06] begedin commented on #247
@GildedHonour

I was unable to produce your result with the data you provided. However, I did look into the error you are getting and it's generally caused when you're attempting to hit a URL that does not exist. Basically, it means "non-existant domain".

Considering that, I tried to put a non-existant url into my environment's `:stripity_stripe, :api_base_url` "field" and when I did that:

[code

[2017-08-17 08:17] GildedHonour commented on #247
it works well with a correct, test card number.

[2017-08-17 08:18] GildedHonour commented on #247
i'll double check.

[2017-08-17 08:27] anronin commented on #247
The problem is that you get `MatchError` exception here https://github.com/code-corps/stripity_stripe/blob/master/lib/stripe.ex#L107 in a case of network problems and users can not properly handle this situation by their application. So simple solution may be something like this:

[code]

[2017-08-17 08:35] GildedHonour commented on #247
for whom? for me, as a client, stripity_stripe doesn't provide the  method "request" from its api.

[2017-08-17 08:40] anronin commented on #247
i mean, we need changes to the `make_request_with_key` function in `stripity_stripe`

[2017-08-17 08:50] begedin commented on #247
@anronin I agree we probably need to fix that, but I'm trying to help @GildedHonour avoid having to wait for a fix.

The reality is, even though that place in the code is a failure point, I'm still not getting the error @GildedHonour  getting when making the same call, so I want to find out why. The only way I was able to get that error was by setting a bad api url.

Online resources also say that

[2017-08-17 08:52] begedin commented on #247
@anronin That being said, we clearly have a bug, so I'll tag it as such, so it can be fixed by whoever gets the chance.

[2017-08-17 08:57] anronin commented on #247
Sorry, misunderstood this issue and now i get it and i also think that this `reason:: nxdomain` is caused by network error or incorrect configuration

[2017-08-17 16:45] mjadczak commented on #248
I'm proceeding with keeping the current API as-is, though I still think the best interface would be one which follows the Stripe API docs directly.

For example, take a look at the following image:
<img width="205" alt="image" src="https://user-images.githubusercontent.com/3052620/29423363-5e26885e-8373-11e7-9ed7-7ba8f3c4b3ee.png">

The logical thing to expect would be a `Balance` context with the

[2017-08-17 22:43] JoshSmith commented on #234
@wzph just to follow up, it does look like we're going to be targeting a new version soonish. Keeping this open until then.

[2017-08-17 22:48] JoshSmith commented on #248
I agree with this here generally.

For reference, I also spoke previously to Stripe engineers about the possibility of this becoming an official Stripe project if we manage to match their API fairly closely (with good Elixir conventions) and have 100% coverage of the API. I personally believe that it's in the best interests of the community to have some responsibility for maintenance lie with Stri

[2017-08-17 23:30] mjadczak commented on #248
So I wrote some code on this today, and again I came to a decision point in how far to take certain things (internally).

Let me illustrate with the `Stripe.BalanceTransaction` module ([Stripe doc](https://stripe.com/docs/api#balance_transaction_object)) since `Stripe.Balance` is rather boring and I was going through the docs alphabetically.

## "Rendering" objects
The first issue to tackle is if

[2017-08-17 23:33] mjadczak commented on #248
That sounds great. I maintain that a "context-based" approach to the public API is a better Elixir convention. We should also support current users, however.

[2017-08-22 09:06] sircharleswatson opened #251 "[v2] nullable values automatically being set to nil"
I've got an issue where I'm creating a customer and then I later update that customer with their payment source.

I create the customer with an initial email but later, when I update the customer, the nullable values are automatically set to nil/null which removes the data I previously set when I created the customer. So I'm losing the email address or anything else that would be under the nullabl

[2017-08-28 14:01] begedin commented on #251
@sircharleswatson This is something that our current work is touching on, but it will take a bit for us to get merged. We'll keep you updated.

[2017-08-28 14:11] begedin commented on #248
@mjadczak I you went with the functional pipeline approach in #252 and I really like that direction. In fact, in our own project, for a github API wrapper, I was considering that approach as well. It's as explicit as I can imagine.

I also agree with the context based approach, but with keeping in mind that we need to maintain some sort of compatibility with the currently published version. A depr

[2017-09-01 21:37] rossedwardsus opened #253 "How to charge a customer?"
Hello. I would like to charge a customer as opposed to a card.  The documentation says it's possible.  I have created a customer and a card.  But I can't seem to figure out how to then apply this to the charge function.  Thanks.

[2017-09-02 09:30] Awea commented on #253
Hi @rossedwardsus, issues are not for questions.

Could you move your question to the appropriate tool (like stackoverflow) ? :)

[2017-09-03 19:49] arvidkahl commented on #247
I have had this happen twice in production as well, both on the Stripe.Subscriptions.create method - with dire consequences, since the charge actually happened, but my logic to upgrade the account and attach payment information would not happen since the exception would stop the whole process.

[2017-09-04 16:53] JoshSmith commented on #247
@arvidkahl do you have any extra output that you can provide? Is this also an `nxdomain` error?

Per @begedin's comment above:

Is it preferable that you have an error of some sort at least that is _handleable_? I think this is what @begedin was saying. We could at least make it so you can recover from it somehow.

Bear in mind that there are some serious refactorings happening, but I would obviou

[2017-09-04 16:58] JoshSmith commented on #253
Hey @Awea, I think that @rossedwardsus raises a fair question here if the documentation says one thing and they cannot figure out the implementation. I do appreciate the effort to keep issues focused on _bugs_ per se, but this hints at an issue with documentation.

@rossedwardsus can you tell me which version you're using (the docs should say)? Thanks!

[2017-09-04 17:51] arvidkahl commented on #247
It was a `HTTPoison` Timeout,

[code]

[2017-09-12 14:37] Awea commented on #253
@JoshSmith @rossedwardsus Sorry I react a bit fast ^^

[2017-09-12 21:08] mjadczak commented on #234
The work in #252 is currently targeting the newest API version, 2017-08-15. That's a rewrite of the internals so will take a while to get released.

[2017-09-18 08:47] lcjtrifork commented on #247
I've stumbled into the same issue as @arvidkahl - a customer makes a payment, but the request process crashes due to an `HTTPoison` timeout, which means that my application is unable to handle the payment.

[code]

I haven't been able to figure out what caused these timeouts in the first place (I've observed this particular issue 3 times so far)

[2017-09-18 19:30] JoshSmith commented on #247
What infrastructure are you running this on? Some sort of PaaS?

[2017-09-21 08:01] lcjtrifork commented on #247
I'm running this on an AWS EC2 instance.

[2017-09-21 09:21] arvidkahl commented on #247
I am running it on a container-as-a-service platform called Sloppy.io, where the containers are behind haproxy reverse proxies with a global 15sec hard connection timeout.

[2017-09-25 17:58] JoshSmith commented on #247
Ah well for @arvidkahl I think I might understand. If it were Heroku or something there also might be something happening with a request timeout. If the operation is sufficiently large and run alongside some other op you're doing, then a timeout may well occur as the connection to your client closes. This is pure speculation, though.

Given all the rework that's coming I'm just trying to hold off

[2017-09-25 20:34] mjadczak commented on #247
FWIW, hackney errors are handled correctly in the rewrite of the 2.0 stack. I don't think 1.x will be updated to fix this (the fact that it's HTTPoison not hackney makes me think it's happening in 1.x).

[2017-10-09 13:24] jordpo opened #261 "[Documentation] Creating a subscription with a list of items"
I wanted to create an issue as I'm not sure if this is a documentation concern or the functionality is just not present.

I'm trying to create a subscription using the `Stripe.Subscription` module with a list of items per the API's documentation here https://stripe.com/docs/api#create_subscription.

When doing this `Stripe.Subscriptions.create user.stripe_id, [plan: basic.stripe_id, items: [%{plan

[2017-10-09 14:04] jordpo commented on #245
@Awea Not sure if you had a successful Phoenix implementation for handling the webhook but this issue helped me https://github.com/phoenixframework/phoenix/issues/459.

[2017-10-15 22:14] mjadczak opened #263 "Achieve full functionality on par with other Stripe libraries"
This is a top-level issue to track the changes discussed in #249, #252, and in further PRs.

It entails a rewrite of the library internals and the provision of a full testing harness against the stripe-mock tool.

When achieved, it will close out #215, #248, #234, #227, #219, #196, #186, #126, #124, #103 and possibly others.

## Broad changes
- Add comprehensive test suite based on stripe-mock (me

[2017-10-24 14:13] AndrewDryga opened #265 "[v2] Filtering lists"
Hello,

I'm trying to fetch all subscriptions of a customer:
[code]

But library makes request without any arguments returning all subscriptions for all users:
[code]

I'd expect all params to be passed as query arguments.

[2017-11-03 17:29] sebbean commented on #261
i think you need to use a Keyword List inside of `items:` not a Map

[2017-11-13 23:14] joshsmith opened #266 "Add remaining types, endpoints, and params"
For each of the following resources, we need to:

- Clean up the types.
  - Look through the [Stripe openapi v3 spec](https://github.com/stripe/openapi/blob/master/openapi/spec3.yaml) line-by-line and ensure the types match our types, including `| nil` for all `nullable: true` fields.
- Add the endpoints.
  - Write tests for each endpoint, if they're currently missing.
  - Implement the endpoints.

[2017-11-18 19:20] JoshSmith commented on #266
Working on `Event` types now.

[2017-11-18 19:26] JoshSmith commented on #266
Working on `Token` types now.

[2017-11-18 19:59] JoshSmith commented on #266
Working on `BankAccount`, `Card` and `Sources` next as part of #273.

[2017-11-18 21:01] JoshSmith commented on #266
Working on `Invoice` `Plan` and `Subscription` next.

[2017-11-18 21:07] joshsmith opened #274 "Expand Stripe.UtilTest object_name_to_module to test all modules"
We need to expand the test for `object_name_to_module` in `Stripe.UtilTest` to cover all the possible object strings that we could receive from the Stripe API and ensure they're converted to the proper module names.

[2017-11-18 21:50] joshsmith opened #276 "Discussion: conversion of strings to atoms"
I wanted to have a discussion about the conversion we're doing of strings to atoms, particularly in cases like a Stripe Connect Account's verification `disabled_reason`, e.g. `"reject.fraud"`.

I suspect that a large number of existing consumers of our library expect to be receiving strings where we're converting them to atoms. This is certainly true of our case, where we save a number of those en

[2017-11-18 21:50] joshsmith commented on #276
@mjadczak @begedin could use your thoughts here.

[2017-11-18 21:57] joshsmith commented on #265
Hi @AndrewDryga there's a lot of work going on in the `2.0-beta` branch right now to address this.

What version specifically are you tied to right now?

[2017-11-18 22:00] joshsmith commented on #266
I'm going to work on `Account` endpoints now.

[2017-11-18 22:28] joshsmith opened #278 "Parameter checking on create/update/etc"
Right now we're planning on doing a lot of work to check whether or not certain params are allowable in a given request.

I'm not sure whether we should be doing this, as this is taking a lot of work that probably should be the responsibility of the API itself and putting that work onto the library as a consumer. Seems to me that this could explode the number of possible things we could be doing w

[2017-11-18 22:29] joshsmith commented on #278
@mjadczak @begedin could use your thoughts here.

[2017-11-18 23:00] joshsmith commented on #278
I know this is more about checking the types vs actually checking the parameters, but I think the point stands that this feels like it's out of scope right now, and perhaps into the distant future. The amount of work involved in writing the create/update endpoints in particular is exhausting.

[2017-11-19 02:42] joshsmith commented on #251
@sircharleswatson still trying to make progress on getting something shipped here. Changes are happening in the `2.0-beta` branch.

[2017-11-19 06:34] mjadczak commented on #278
I don't believe we are checking these at all, actually. There are no runtime checks for this—initially I had some in, but then I took them out. There are typespecs which state how the params should be structured, but as I've mentioned elsewhere, I view them as documentation moreso than something to be strictly relied upon in combination with dialyzer.

[2017-11-19 06:42] joshsmith commented on #278
Okay, that's what I thought. My feeling is that the documentation here is a bit much now that I'm implementing it. I'd suggest that we maybe leave that bit out until we can circle back to it.

[2017-11-19 06:50] mjadczak commented on #276
So the reason I adopted the policy of converting enum-like values to atoms, is to follow in the Stripe API spirit of ensuring that the SDK feels native in each language. I believe that representing things like statuses etc as strings in an Elixir app would be messy and prone to error, not to mention that at scale it could cause some performance concerns (string comparison being much much more expe

[2017-11-19 06:52] mjadczak commented on #278
I find it useful to look at when writing the actual endpoint—for me it illustrates which parameters should be treated in any special way (e.g. casting structs to IDs) and I personally did not find writing out the param typespecs to be a massive effort. However, I agree they're not essential, so they can always be circled back to. It's just that with no Stripe docs for Elixir, it's difficult to hav

[2017-11-19 06:59] joshsmith commented on #276
I'd definitely like to hear what others in the community have to say on it. Posing a question on the Elixir forum feels like a good bet to me.

Here are some other things to consider, from [this StackOverflow question](https://stackoverflow.com/questions/34446221/atom-keys-vs-string-keys-in-phoenix).

Chris McCord in _Programming Phoenix_:

And from the answer:

[2017-11-19 07:04] mjadczak commented on #276
Yup, I have considered this last issue. We could use `to_existing_atom`, but note this is only being used on responses from the Stripe API. I think if the Stripe API is sending you garbage instead of it’s published data and overflowing your atom table, you have bigger problems. On the other hand, not using `to_existing_atom` allows a bit more flexibility if Stripe returns an unexpected value.

[2017-11-19 07:09] joshsmith commented on #278
I meant less that it's a massive effort for any one endpoint and more that the sheer number of endpoints add up. I do agree, though, that it's useful at-a-glance compared to the Stripe API docs.

I guess we can always circle back since it is essentially documentation.

[2017-11-19 07:14] joshsmith commented on #278
I'm going to close this since it seems like we're agreed on direction. Nice to have but not blocking if we don't.

[2017-11-19 07:14] #278 closed

[2017-11-19 07:22] joshsmith commented on #276
I do see that .NET uses, for example, for Connect accounts, `StripeAccountType.Custom` for `type`. That seems to indicate atoms are the right choice for these enum-like values by that convention. It really depends on where we're deciding to set the boundaries: at our level or at the consumer of our library.

On that note, I do notice for timestamps these libraries are just returning the Unix times

[2017-11-19 14:01] begedin commented on #276
On the issue of atoms, I'm really not sure what the best way is, but it does seem that implementations in other languages as well as other libraries in elixir lean slightly towards something closer to an atom.

As for timestamps, probably worth opening a separate issue, but I'm even less sure on those, really.

From the point of view of parsing the value, a unix timestamp and a datetime are effect

[2017-11-19 23:51] mjadczak commented on #276
I agree that timestamps should be a separate issue. FWIW, I think (though haven't checked) that converting a timestamp to DateTime is much more expensive than converting a string to an atom, and hence perhaps shouldn't be done automatically. I would definitely like us to be able to _accept_ `DateTime`s though, automatically converting them to timestamps. Another thing which would be a nice-to-have

[2017-11-20 10:28] AndrewDryga commented on #265
I were trying to get all active subscriptions for customer, workaround works like this:
[code]

[2017-11-20 19:32] joshsmith commented on #265
Which version are you using, though? What branch or commit?

[2017-11-20 19:41] joshsmith commented on #266
Going to work on `Charge` endpoints right now.

[2017-11-20 19:55] joshsmith commented on #266
Working on the rest of `Customer` now.

[2017-11-20 20:01] joshsmith commented on #266
Moving onto `Account`.

[2017-11-20 21:00] joshsmith commented on #266
Just did `Token`. Now doing `Event`.

[2017-11-20 21:57] AndrewDryga commented on #265
`2.0.0-alpha.10`

[2017-11-20 22:12] joshsmith commented on #266
Working on `Card` now.

[2017-11-21 00:16] snewcomer commented on #266
Working on `Plan` now.

[2017-11-21 01:28] joshsmith commented on #276
Another consideration here: when I'm passing data back in as a `map`, then I'm expected to pass back in strings and not atoms. That means that we're then offloading some conversion work onto the user implicitly, without really explaining why. That could appear confusing.

[2017-11-21 01:32] mjadczak commented on #276
No, you can pass in both, though our documentation can expect atoms. Both strings and atoms get serialised to JSON the same, so both will work.

[2017-11-21 01:57] joshsmith commented on #276
Going back to whether we should serialize these enum-like strings as atoms, here are two cases from Stripe's library.

In .NET:

[code]

However, in Go:

[code]

I'm inclined to go with the Go example because it appears to be heavily maintained by Brandur.

[2017-11-21 02:03] joshsmith commented on #276
I'm also running into a lot of issues where things aren't documented correctly in the openapi specs (or the Stripe documentation) and we're missing keys in structs. If that's the case for the top-level keys, I don't want to think about how bad it might be for deeply nested values, particularly since these values might change substantially in minor releases.

Starting to lean against casting to ato

[2017-11-21 02:05] joshsmith commented on #276
We talked about `to_existing_atom` some earlier; given my comment just prior, these problems I'm experience make that approach less likely to be successful.

[2017-11-21 02:14] joshsmith commented on #265
Ah okay, yes. The `-beta` (still in progress) is making changes to the way we deal with lists. I'm glad the workaround is working in the short-term but that shouldn't need to be necessary in the long-term here.

[2017-11-21 02:28] mjadczak commented on #276
Yeah, that’s exactly the issue that I brought up against `to_existing_atom`—but I maintain that atom table overflow is not an issue in this case, since we are not using `to_atom` on _user_ provided input, but rather on input received from Stripe, over a https connection initiated by us. Therefore we can trust that input.

I do feel strongly that using atoms for these makes more sense and is nicer,

[2017-11-21 02:46] joshsmith commented on #276
@mjadczak we're having a large discussion in the Elixir Slack right now and it seems to be the overwhelming consensus (all for, none against) having binaries over atoms in this case.

[2017-11-21 03:52] snewcomer commented on #266
Tackling file upload

[2017-11-21 04:11] joshsmith commented on #276
Our consensus so far was to decide to not do this in the short-term and possibly circle back to opt-in in the future.

[2017-11-21 04:11] #276 closed

[2017-11-21 06:11] snewcomer commented on #266
Tackling Payouts

[2017-11-21 06:45] joshsmith opened #298 "Stripe.Error.from_stripe_error/3 fails to match on certain errors"
[code]

[2017-11-21 23:50] joshsmith opened #306 "Add warning to Converter when we get an unexpected object"

[2017-11-22 20:39] joshsmith opened #322 "Warnings on invoice keys when running event tests"
The warnings we get on invoice keys is an upstream problem with `stripe/openapi`.

See further: https://github.com/stripe/openapi/issues/18

[2017-11-23 00:20] mjadczak commented on #298
Closing as solved since it won't auto close until 2.0 is master

[2017-11-23 00:20] #298 closed

[2017-11-23 00:23] mjadczak opened #324 "Support expansion"
We should support expanding fields, which I don't believe we do right now. I suggest using the `options` arg which gets passed to every function, and simply passing that right through to `Stripe.Request` which will add the appropriate parameters.

The deserialising logic should automatically work fine then, since Stripe will just include the expanded object inline in place of the ID, and our types

[2017-11-25 18:27] joshsmith opened #326 "Fix FileUpload tests"
We need to either see if Stripe is going to add a mock endpoint into `stripe-mock` or if we need to add our own mocked endpoint internally.

[2017-11-30 14:30] mirjoy commented on #60
I have the same issue

[2017-12-04 09:20] begedin commented on #60
@mirjoy Which branch is this occuring for you on? I just checked master and it seems to fetch dependenicies without issues for me.

[2017-12-04 15:02] mirjoy commented on #60
I had the issue when I added it to my mix file per the instructions:
`{:stripity_stripe, "~> 1.4.0"}`

However, I was able to get it to run by pulling straight from the repo
` {:stripity_stripe, git: "https://github.com/robconery/stripity-stripe.git"}`

[2017-12-05 08:45] begedin commented on #60
That means we likely need to publish 1.4.1

[2018-01-09 14:19] speeddragon commented on #247
Just happen to me today (timeout), I think the stripe API was having some issues. I will be migrating to 2.0.0 (was using 1.6.0).

[2018-01-10 18:47] joshsmith commented on #247
@speeddragon please let me know if you have any issues at all with `2.0`. I'm running it in production but am happy to help diagnose and fix any problems.

[2018-02-12 18:08] michaelst opened #335 "(MatchError) no match of right hand side value: {:error, %HTTPoison.Error{id: nil, reason: :closed}}"
We have been running into this error a lot and are unable to handle it as the error is not passed back

[code]

[2018-03-02 23:47] acabreragnz opened #337 "How to access to Request Id header?"
Hello,

First of all, I want to say it's a amazing library, thank you for that!

But I have a noob question,
I can see that you return `response.body` when making every request, so how can I access to the full response, particularly I would like to access to the HTTP header request-id, is that possible?

Thank you!

[2018-03-19 14:26] snewcomer commented on #263
@mjadczak I'd like to help out with the 2.0.0-beta branch.  Try to spend ~5hrs per week.

Orienting myself currently.  I see this [link](https://stripe.com/docs/upgrades?since=2016-07-06#api-changelog) referenced in this issue - https://github.com/code-corps/stripity_stripe/issues/196.

Also, for example, I see this [PR](https://github.com/code-corps/stripity_stripe/pull/296/files) for `Source`, b

[2018-03-20 13:01] munjal opened #338 "Confusion with the version number."
I am sorry but I am really confused which branch is the latest for v2?
- v2alpha
- v2beta
- v2

Logic says that it should be v2 but then why new updates are happening else where!
Thanks

[2018-03-22 08:00] begedin commented on #338
Hey @munjal

It's a big undertaking to get this to a decent state, so we're splitting off major versions into separate branches. Currently, we're actively working on the beta branch, mainly because it makes a big shift towards 2.0 full, but we branched away from the alpha branch because it also introduces breaking changes.

Basically, if you want the latest, go with 2.0 beta, but alpha might have

[2018-03-22 08:01] #338 closed

[2018-03-22 08:04] begedin opened #339 "Changes added to alpha after creation of beta"
This issue serves as a list of all things that have been added, removed or fixed in the 2.0 alpha branch since the start of the 2.0 beta branch.

We'll likely want to add most of these to the beta as well, or at least explain why they aren't being added here.

- [x] Ephemeral key creation API added in #262

[2018-03-22 08:35] begedin commented on #337
Hey @acabreragnz

Sorry for the delay on this.

Unfortunately, none of our 3 primary branches (master, 2.0 alpha, 2.0beta) have support for getting raw responses. It's probably a thing we'll want to add at some point, but for now, your best bet is to make a raw request yourself. Some of the functions in the `Stripe` module might help you, but I can't tell you more without knowing which branch you'

[2018-03-22 08:43] begedin commented on #335
This can be considered a definite bug in the master branch, so we're willing to accept fixes.

Best bet would be to modify the `make_request_with_key` function so it allows for an error response and handle it, probably by just returning an error tuple. This would at least allow people to match against it, instead of the code just failing.

[code]

becomes

[code]

@michaelst If you or someone else

[2018-03-22 09:22] begedin commented on #263
@snewcomer I started updating this some, but the reality is, even keeping track of all of that is a huge undertaking, so that's as good a place as any to start, so if you're willing to do that, feel free.

The recommended proceduer would be
- for each unchecked item, check if there's a PR, note the number
- check if params and types are in the new format. Don't worry about complete accuracy, just

[2018-03-28 19:59] luccasmaso commented on #247
@lcjtrifork @joshsmith This happened to me today N times the user tried to make a payment. I'm using version 2.0 and it's very unlikely that Stripe response time was so slow (5 seconds Poison default) between 10-20 minutes attempts from the user. Also, the `Stripe.Customer.create` returned {:error, timeout...} but the Stripe successfully created the Customer on their side.

What could be another r

[2018-03-29 05:54] arvidkahl commented on #247
To be honest, I sometimes think it IS the stripe API, or at least parts of it. I have no means to trace the timeout or its origins, so all I can do is guess. The {:error, timeout} happens particularly often when updating a customer (or rather when they update their CC info). So I would assume that POST/PUT operations have some unforeseeable timeout on occasion. (This is still 1.x, I have yet to up

[2018-04-01 22:48] brandonparsons opened #344 "Real release?"
Have you considered releasing 2.0 alpha as a real 2.0?

I just noticed you're starting a beta "rewrite". Maybe release what you've got as a 2.0 (not alpha) and make the re-write 3.0? Seems odd to have been in a pre-release state for so long.

[2018-04-06 15:46] snewcomer commented on #344
@brandonparsons I think `2.0.0-beta` will become the 2.0 branch.  And perhaps `3.0` (or minor release, depending on the scope) will be related to this: https://stripe.com/docs/billing/migrating.  I'm putting together an issue for this right now.

Wrt to the 2.0 branch, I'm currently working on lots of tedious spec related items, ensuring our code matches the spec.  The length of time is mainly due

[2018-04-07 23:38] snewcomer opened #347 "Create Product Type"
Product Type + endpoints

https://stripe.com/docs/api#service_products

This includes modifications to the Plan struct.

[code]

Ref #266

[2018-04-15 20:37] #347 closed

[2018-04-15 21:22] slavlik82 opened #353 "https://github.com/code-corps"
https://github.com/code-corps/stripity_stripe

[2018-04-17 18:50] sescobb27 opened #354 "error creating plan with name"
Hi, i'm trying to use this lib in the beta branch and just found this error when trying to create a plan with it. with the new Stripe API version, they introduce the concept of Product (which is not supported in alpha branch) in which each plan is going to be attached to one product, the problem is that now we can't pass a plan's name, statement_descriptor or metadata when creating a new plan. I t

[2018-04-21 22:38] snewcomer commented on #354
@sescobb27 👋 Thanks for putting in the issue!

Could you try out my [branch](git@github.com:snewcomer/stripity_stripe.git) and let me know if it works for you!  Should be able to get #358 in on Monday or Tuesday.

[2018-04-23 08:48] #335 closed

[2018-04-23 08:48] begedin commented on #335
PR was merged and fix should be live

[2018-04-23 13:51] snewcomer commented on #354
@sescobb27 This should be fixed in the beta branch.  Feel free to close this issue if all is ok.

[2018-04-23 15:07] sescobb27 commented on #354
@snewcomer 👋 i will try it today, but i see a test miss match is that PR https://github.com/code-corps/stripity_stripe/pull/358/files#diff-e805c05bd065fe00485322c95806f00fR11 `name` is no longer valid, so it would be better to rename it to `nickname` unless that test is there for backward compatibility.

[2018-04-23 17:07] snewcomer commented on #354
Thanks!  fixed here

https://github.com/code-corps/stripity_stripe/pull/350

[2018-04-23 18:37] sescobb27 commented on #354
@snewcomer oh ok, nice, also, I just try #358 and it worked. thank you 🙌

[2018-04-23 18:37] #354 closed

[2018-04-25 17:40] sescobb27 opened #359 "Error constructing Webhooks events"
Hi there, i was trying to use the `Stripe.Webhook.construct_event` but is throwing me the following error

[code]

here is the stack trace
[code]

it seems like you are trying to construct a signed payload here https://github.com/code-corps/stripity_stripe/blob/2.0-beta/lib/stripe/webhook.ex#L84-L93 via string interpolation, but payload may be already parsed from string into map via a plug which i

[2018-04-25 18:18] anronin commented on #359
hello @sescobb27 ! First of all you need to make this webhook verification as plug and place it in the `endpoint.ex` before plug `plug Plug.Parsers, ...`, like so:
[code]
because you need the raw body to complete verification, after Plug.Parser body will change and verification will not pass. In the plug you need to call `{:ok, body, conn} = read_body(conn)` to get body and append body back to `co

[2018-04-25 20:03] sescobb27 commented on #359
Hi @anronin I was trying with parsers instead because as josevalim points to in https://github.com/phoenixframework/phoenix/issues/459#issuecomment-240150501 I would need to halt so other parsers don't timeout trying to read body, in my case we are using `ja_serialize` with `poison`, also because `Stripe.Webhook.construct_event` already decodes the payload here https://github.com/code-corps/stripi

[2018-04-25 21:02] anronin commented on #359
or as Jose mentioned in that issue we could wait for plug 1.6 for custom body reader implemented here https://github.com/elixir-plug/plug/commit/283e6d594ae481c1cc4c9e54219d59668988eb2f

[2018-04-30 11:30] begedin commented on #353
@slavlik82 What's the reason for creating this issue? Seems like it was done accidentally, so I'll pre-emptively close, but feel free to comment and I'll reopen if there's reasoning.

[2018-04-30 11:30] #353 closed

[2018-05-01 18:06] acabreragnz commented on #359
Only to give more details, remember to use the webhook secret that is different from stripe secret
and another thing, for plugs use the `read_body(conn)` function

[2018-05-01 18:08] sescobb27 commented on #359
yep, this is my final version if you are interested
[code]

[2018-05-04 00:44] anvisha commented on #210
If it's helpful, `Plug.Conn.Query`'s `encode` method lets you pass in something like this:
[code]

and evaluates it to `items[0][parent]=sku_id&items[1][parent]=sku_id2` ... which is exactly the format Stripe wants.

[2018-05-08 20:34] snewcomer commented on #251
@sircharleswatson On the beta branch now, this should be fixed.  Params are using the `optional` typespecs, so the only ones that we explicitly check for is the required params.  Lmk if you have a problem still!

[2018-05-15 04:41] snewcomer commented on #324
@mjadczak Do you think you could explain this a bit more for me?  Tackling the rest of the 2.0 beta issues and I may be lacking a bit of knowledge on what to do here.

[2018-05-18 19:12] snewcomer commented on #266
Hey everybody!  All of the Resources have been updated to the current spec!  2.0.0-beta is really close.  However, we need to ensure we have parity with the 2.0.0-alpha branch.  I'm not sure I'm the best person to ask since I use the beta branch in my projects.

Does anybody have any concerns on making the `2.0.0-beta` branch the final `2.0` for stripity_stripe?  The only commit on the alpha branc

[2018-05-18 19:15] snewcomer commented on #344
@brandonparsons Would you mind trying the latest of the `2.0.0-beta` branch?  We are close to releasing a 2.0 version (hopefully based on this branch) and we need to make sure it is solid 👍

[2018-05-21 13:32] brandonparsons commented on #344
Hi Scott - I'm in the middle of starting a new job and buying a new house
at the moment. I won't be able to get to this for a while! Maybe just
release and hope for the best :)

On Fri, May 18, 2018 at 1:15 PM Scott Newcomer <notifications@github.com>
wrote:

[2018-05-22 13:34] snewcomer commented on #344
@brandonparsons Yeah I think we are close.  I am using a small subset of this lib, so would be good to hear from a few other ppl that it works as intended.  Making an announcement that the 2.0 version is live and then breaking for ppl might not be well received ;0

[2018-05-23 18:03] Aleksion opened #367 "Stripe.oauth_request/3 is undefined or private"
Hi,
I was playing around with the 2.0 Beta branch and hit a blocker  on the token request.

It seems Stripe.oauth_request is not defined.
I imagine it's because this branch isn't yet ready to be used, but if it's a gotcha I just wanted to bring it to your guys attention.

<img width="899" alt="screen shot 2018-05-23 at 10 50 29" src="https://user-images.githubusercontent.com/3367641/40442454-99d08

[2018-05-23 18:31] snewcomer commented on #367
@Aleksion Awesome catch!  Could you try out this branch if possible?  I will add tests as well so we don't regress.

https://github.com/code-corps/stripity_stripe/pull/368

[2018-05-24 09:39] begedin commented on #344
The more I think about this, the more it makes sense to just release.

We're looking at this in terms of 2.0 alpha and 2.0 beta, but as long as we're ahead of 1.0, we should make it an official 2.0 release and work on any required fixes from there.

@joshsmith, @pragmaticivan @gmile Any thoughts on this?

[2018-05-24 09:40] begedin commented on #266
As I mentioned in #344 I support releasing the beta as full 2.0.0 and going from there. We can keep the alpha branch around in case we've missed anything for the sake of parity, but beta should be the template going forward.

[2018-05-24 14:01] snewcomer commented on #367
@Aleksion This is in the 2.0-beta branch.  Feel free to close if this is solved for you!

[2018-05-24 14:05] snewcomer commented on #344
I tend to agree!  If somebody else verified the 2.0-beta branch works for them, it would give us a little more surety, but if not, we can work on fixes from there.

I tried the latest 2.0-beta with my project (utilizing Product, Plan, Customer, Subscription, Card) and everything worked smoothly.

[2018-05-24 16:31] kwayebopp commented on #344
I'm not using the latest 2.0-beta, but once I'm done with some other things, I'll update my local version and let you guys know if anything is broken for me. So far I haven't had any problems with Customer, Plan, Subscription, and Source.

You guys have done some awesome work!

[2018-05-24 20:20] kwayebopp commented on #344
After updating, to the latest 2.0-beta, everything works on my end!

[2018-05-24 23:40] snewcomer commented on #344
Nice catch!  Pushed up a PR for the oauth and adding multipart form headers.  I missed that (still need to add a test). Adding a test for the file upload is a bit harder (dependent on stripe-mock, which only recently supported file-upload) but will look at tomorrow.

[2018-05-25 03:15] snewcomer commented on #367
#369 Got another one that I missed.

[2018-05-25 20:46] Aleksion commented on #367
Nice! Do you usually do project wide searches when you patch things like this? It can make it a little easier to catch. (rewrites like this is situations where static typing really would have been nice!)

I will test it out again one of these days. I put the "update stripe" issue in blocked so I just have to get around to it again and try once more.

[2018-05-25 21:20] snewcomer commented on #367
I am still planning on adding some tests around it so that is hopefully how I will catch it ;) . Just need some time to sit down and do it!

[2018-05-29 10:11] begedin commented on #367
#369 was merged, so if anyone could check on that commit if it works, we can close this and open up an issue to write a failing test. I can then push a new release out.

[2018-05-30 22:07] Aleksion commented on #367
Looks good to me!

[2018-05-30 22:07] #367 closed

[2018-06-01 15:01] snewcomer commented on #344
Does anybody have any issues/potential misgivings about releasing `2.0` (based on the `beta` branch)?

[2018-06-01 15:01] snewcomer commented on #344
Or should we "just do it already" :)

[2018-06-02 04:46] gmile commented on #344
@snewcomer I say just release it :)

[2018-06-05 13:02] begedin opened #376 "Fix heredoc issues"
Our docs for 1.x.x have some errors which cause warnings

[code]

[2018-06-05 13:26] begedin commented on #344
2.0.0 is finally out and we're ready to receive thousands of bug reports!

Either way, we work with the master branch now, the old 1.x.x has been deprecated to the identically named branch and will be maintained for a while more, but from this point on

- no more complete rewrites
- no more multiple versions

[2018-06-05 13:26] #344 closed

[2018-06-05 13:28] begedin commented on #339
The only change listed has been ported to beta and is available in https://github.com/code-corps/stripity_stripe/blob/master/lib/stripe/ephemeral_key.ex

[2018-06-05 13:28] #339 closed

[2018-06-05 13:29] begedin commented on #266
With the release of 2.0 and all items here being checked off, we can finally close this!

[2018-06-05 13:29] #266 closed

[2018-06-05 13:33] begedin commented on #263
Closing this. 2.0 has been released and we have modules with working endpoints for all of the items listed here. If there is a bug, a separate issue can be created when it's discovered.

Thank you for your work, @mjadczak  and @snewcomer

[2018-06-05 13:33] #263 closed

[2018-06-05 13:34] begedin commented on #265
@AndrewDryga We've released 2.0.0 fully, based off of the beta branch. The alpha branch has, thus, been retired.

Is the official 2.0.0 release working for you?

[2018-06-05 13:35] begedin commented on #251
@sircharleswatson 2.0.0 has been officially released. Can you check if the problem has been resolved for you?

[2018-06-08 20:36] bsollish-terakeet opened #381 "Documentation error: Configuration section says "secret_key" but code calls "api_key"!"
config :stripity_stripe, secret_key: "YOUR SECRET KEY"

SHOULD BE:

config :stripity_stripe, api_key: "YOUR SECRET KEY"

otherwise the Authorization header will not be created properly and all calls will fail. (I wasted over an hour debugging this)

[2018-06-09 17:50] jpiepkow opened #383 "Application.get_env causing failure in encode_query."
Doing Stripe.Subscription.update with items plan id set via Application.get_env causes this error for me:

** (Protocol.UndefinedError) protocol Enumerable not implemented for %Stripe.Subscription{}
    (elixir) /private/tmp/elixir-20180117-15572-1oho2gb/elixir-1.6.0/lib/elixir/lib/enum.ex:1: Enumerable.impl_for!/1
    (elixir) /private/tmp/elixir-20180117-15572-1oho2gb/elixir-1.6.0/lib/elixir/lib

[2018-06-10 03:38] #383 closed

[2018-06-11 09:27] #381 closed

[2018-06-11 09:29] begedin commented on #383
@jpiepkow Sorry for not being able to reply to this. Where you able to debug and resolve the issue. Any information is welcome here, just in case someone else has the same trouble.

[2018-06-13 05:52] strattadb opened #385 "Support params in Subscription.delete/2"
Hi, Stripe's API accepts a parameter when deleting a subscription which is `at_period_end`.
Here's the official documentation https://stripe.com/docs/api#cancel_subscription.

I can send a pull request to fix this.

Thanks for the awesome library!

[2018-06-13 14:15] snewcomer commented on #324
I see where this is coming from now!  The items marked `Expandable` in the docs can be expanded.  I'll work on getting an initial version up this Friday.

[2018-06-13 23:14] mjadczak commented on #324
That's right! Sorry, I've been quite busy with a Master's thesis and didn't see your question.

[2018-06-14 06:52] #385 closed

[2018-06-14 16:40] snewcomer commented on #234
Updated to list the version on the README!  works with `2018-05-21`.  Headers currently send `2018-02-28`.  Will be updating tomorrow!

[2018-06-14 16:40] #234 closed

[2018-06-14 16:40] snewcomer commented on #196
This is fixed!

[2018-06-14 16:40] #196 closed

[2018-06-14 16:42] snewcomer commented on #227
Closing this as we are using stripe-mock, which conforms to the OpenAPI spec!

[2018-06-14 16:42] #227 closed

[2018-06-14 16:43] snewcomer commented on #219
no more VCR tests 🎉 in 2.0!!

[2018-06-14 16:43] #219 closed

[2018-06-14 20:56] jdrakes opened #389 "API version supported listed in README does not match config"
I noticed in the README it says version 2.x.x Works with Stripe API version 2018-05-21 but in the code from lib/stripe/api.ex has the version set as  @api_version "2018-02-28". Is there a way to override this configuration or is there a plan to update the library to use version 2018-05-21?

[2018-06-14 21:10] snewcomer commented on #389
Yep I think it works with `May` I believe.  The [changelog](https://stripe.com/docs/upgrades#api-changelog) has only a small effect on this lib.

But will be updating the @api_version tomorrow so be on the lookout!!  Thanks for bringing this up. 👍

[2018-06-18 13:54] kwayebopp commented on #359
@sescobb27
what exactly does `api_billing_webhooks_path(conn, :create)` do? I'm guessing that the function is originally from `TwdWeb.Router.Helpers`. Is it making the route that Stripe is supposed to hit?

[2018-06-18 14:39] kwayebopp commented on #359
@sescobb27

What exactly does `api_billing_webhooks_path(conn, :create)` do?

[2018-06-18 15:18] kwayebopp commented on #359
@sescobb27
I was able to figure out the webhooks path problem, but thanks for still addressing my question!
I now have a follow up question:
[code]
In the code above, you assign the webhook event back into the `conn`. Does this mean that in your `BillingController` you get the event from `conn.assigns[:event]`?

[2018-06-18 15:27] sescobb27 commented on #359
yes, that way you don't have to construct the event multiple times

yes, in the controller when returning the answer, something like

[code]

[2018-06-20 10:41] erikreedstrom opened #392 "Events missing `account` field"
Events dispatched for Connect accounts on version `2018-05-21` contain an `account` field. This field is being dropped in the converter.

Submitted https://github.com/code-corps/stripity_stripe/pull/391 as fix.

[2018-06-21 07:12] begedin commented on #392
To elaborate on this, it seems the `user_id` field has been renamed to `account`. #391 will work on resolving that.

[2018-06-21 11:04] erikreedstrom commented on #392
https://stripe.com/docs/api#events

[2018-06-27 06:46] #392 closed

[2018-06-29 08:34] #324 closed

[2018-06-29 16:02] snewcomer commented on #389
This should be fixed on master.  Thanks for bringing it up!

[2018-06-29 16:02] #389 closed

[2018-07-04 03:56] jdrakes opened #396 "Subscription Struct does not support billing, billing_cycle_anchor, and days_until_due"
I am not sure if there is a reason behind this but I noticed that the Subscription struct does not contain the billing, billing_cycle_anchor, or days_until_due keys. Is there a reason that they are not supported?

[2018-07-04 04:34] snewcomer commented on #396
@jdrakes Nope.  PR is welcome!  Else I'll get to it tomorrow.  Thanks for finding this.

[2018-07-14 00:39] snewcomer commented on #376
This was fixed!  THanks @bendaleco

[2018-07-14 00:39] #376 closed

[2018-08-02 18:59] elijahkim opened #406 "Release minor patches"
Hey team,

Appreciate the work y'all are doing. Sorry to message you here but is it possible to release a minor version of the library with the new fields and such?

Thanks!

[2018-08-18 16:11] seantanly opened #409 "Support Idempotency-Key"
Ref: https://stripe.com/blog/idempotency

In version 2.1.x of the library, can't seem to find the support for it.

In version 1.6.2, it is still possible with `Stripe.make_request_with_key` with `Idempotency-Key` being passed in headers.

[2018-08-24 17:41] elijahkim commented on #406
yay!

[2018-08-24 17:41] #406 closed

[2018-08-30 23:46] mcrumm opened #413 "Roadmap / Planning for Stripe Upgrades"
First, thanks to everyone maintaining this library!  I'm curious about the roadmap, and whether or not there's currently a plan for continued parity with the Stripe API.

Today's release of v0.30.0 of `stripe-mock` resulted in a broken CI build (stripe/stripe-mock#110), related specifically (in our case) to the new query parameter validation (stripe/stripe-mock@09826da).

Attempting to fix that co

[2018-08-31 15:02] mcrumm commented on #413
Hey @snewcomer! I'd be happy to dive into the stripe-mock update.  The biggest things I saw were related to query params (I'm pretty sure I already have this sorted), and some strangeness around the deletable resources, as the converter seemed to be returning the full (albeit empty, save for the ID) struct, instead of a map with a `deleted` key.

Where the latest `stripe-mock` starts to introduce

[2018-08-31 16:12] snewcomer commented on #413
Yep good find @mcrumm!  The `deleted` issue was an issue I saw when I updated to 0.23.0 (could be an earlier version as well).

So essentially we need to replace `delete/2` test like this:

[code]

with something like

[code]

as shown now in the docs in the `Returns` section

[2018-09-06 15:41] mcrumm commented on #413
@snewcomer How do we want to handle BC breaks within the latest Stripe API upgrades?  Should we be looking at a `3.0` release?

Here are the changelog entries for the last two upgrades:

### 2018-08-23
- You can no longer set `at_period_end` in the subscription DELETE endpoints. The DELETE endpoint is reserved for immediate canceling going forward. Use `cancel_at_period_end` on the subscription up

[2018-09-06 15:48] snewcomer commented on #413
@mcrumm Generally I believe we have been handling these as minor releases and detailing those in the release notes.

[2018-09-06 16:05] mcrumm commented on #413
So to get to `2018-08-23`, we need the following updates:

- Change `coupon.percent_off` type from `pos_integer` to `float` (guard for negative floats?)
- Remove `source` from `Stripe.Subscription.create/2`
- Replace `customer.business_vat_id (string)` with `customer.tax_info (map)`
- Remove (deprecate?) `Stripe.Subscription.delete/3`

Additionally, we discussed refactoring `Stripe.API.request/5`

[2018-09-06 16:14] snewcomer commented on #413
Seems right!  Lmk if you want any help or not!  Otherwise, I'll be here for review 👍

[2018-09-11 19:39] #413 closed

[2018-10-11 16:29] praveenperera opened #417 "Deleted Customer"
When I a try to retrieve a deleted customer I get `{:ok, %{Customer{}}` back will everything except `id` and `object` nilled out.

This is what the actual json response looks like:

[code]

Should we add a deleted key to the Customer struct to handle this?

[2018-10-12 08:55] snewcomer commented on #417
@praveenperera That response looks correct and that is an interesting thought.  So you would like to access the `deleted` property from some checks within your application?

https://stripe.com/docs/api#delete_customer

[2018-10-12 15:05] #174 closed

[2018-10-12 20:03] praveenperera commented on #417
Right now I'm doing a check on created at too see if the customer still exists. The use case being I want to make sure the customer wasn't deleted in stripe before continuing. If we add the `deleted: bool` key to the customer struct I could check that directly.

[code]

[2018-10-18 18:31] begedin commented on #417
From https://stripe.com/docs/api/customers/retrieve

That would indicate that our struct indeed ought to support the field.

[2018-10-18 23:42] snewcomer commented on #417
@praveenperera I'll have time tomorrow to tackle if you don't get to it beforehand :)

[2018-10-19 18:43] #417 closed

[2018-11-22 13:39] antonioparisi opened #428 "issue on "402 - Request Failed" requests"
hi @begedin

I'm having an issue on `402` responses from Stripe.

What I'm getting when an error occurs is:
`HTTP request error: unable to encode value: {"Request-Id", "req_xxxxxxxxxxx"}`

Weird thing it happens only sometimes.

Checking the Stripe logs basically turns out that the card information of the customer were wrong. but still it shouldn't raise a error like that.

I'm using `stripity_str

[2018-12-04 03:20] ktravers opened #429 "Support void invoice endpoint"
Endpoint: `POST /v1/invoices/{INVOICE_ID}/void`
Docs: [https://stripe.com/docs/api/invoices/void](https://stripe.com/docs/api/invoices/void)

This endpoint is part of a suite of [new invoice API updates](https://stripe.com/docs/billing/invoices/migrating-new-invoice-states) introduced in version 2018-11-08.

In order to support this endpoint, the stripity-stripe library most likely will need to be

[2018-12-04 03:21] ktravers opened #430 "Support delete invoice endpoint"
Endpoint: `DELETE /v1/invoices/{INVOICE_ID}`
Docs: [https://stripe.com/docs/api/invoices/delete](https://stripe.com/docs/api/invoices/delete)

This endpoint is part of a suite of [new invoice API updates](https://stripe.com/docs/billing/invoices/migrating-new-invoice-states) introduced in version 2018-11-08.

In order to support this endpoint, the stripity-stripe library most likely will need to b

[2018-12-04 05:07] snewcomer commented on #429
This looks like a good addition.  Thank you!  Would this be something you would want to take on?  I think the steps are:

- Update to latest stripe mock - https://github.com/stripe/stripe-mock/releases && https://github.com/code-corps/stripity_stripe/blob/5eba5099f8bdaa551662a828e655ef486bc85136/.travis.yml#L13
- Update to latest version as you noted - https://github.com/code-corps/stripity_stripe

[2018-12-06 17:21] aturkewi opened #432 "Support delete InvoiceItem endpooint"
It would be useful to have the ability to delete an invoice item.

The stripe documentation for the endpoint: https://stripe.com/docs/api/invoiceitems/delete

[2018-12-06 18:00] snewcomer commented on #432
@aturkewi Is this something you would like to champion?  If not, I have time tomorrow!

[2018-12-06 20:07] aturkewi commented on #432
@snewcomer I think I can take a pass at implementing this today/tomorrow

[2018-12-06 20:55] ktravers commented on #429
@snewcomer yes, i'd love to tackle this one. i should have bandwidth early next week

[2018-12-07 16:16] aturkewi opened #435 "Add contributor doc"
Add docs around how to contribute and how to get things up and running.

- [ ] Setting up [`stripe-mock`](https://github.com/stripe/stripe-mock#homebrew)
- [ ] Note any version(s) of elixir needed?

cc @snewcomer - conversation started over in #434

[2018-12-07 16:17] aturkewi commented on #435
I also notice that the following tests fail when I run `mix test` on local. Perhaps there are more setup steps involved?
[code]

[2018-12-07 17:43] #432 closed

[2018-12-07 18:05] snewcomer opened #438 "Upgrade to 2018-11-08 Stripe API"
https://stripe.com/docs/upgrades#2018-11-08

[2018-12-11 01:10] asummers opened #440 "New Release?"
The current commit on `master` fixes a number of Dialyzer bugs that prevent using the version currently on Hex. Is there a way to get a version bump to `2.2.2`?

[2018-12-12 16:14] pozhega opened #441 "Retrieve a balance in behalf of another connected account"
Hi,

I use stripity_stripe `2.2.1` to build some sort of money marketplace. One user can send certain amount to another one (charge to customer, and money transfer from platform account to connected account). At one point before payout, I need to see actual balance of the connected account. Your  [function](https://github.com/code-corps/stripity_stripe/blob/master/lib/stripe/core_resources/balance

[2018-12-27 16:41] snewcomer opened #445 "Configurable json serializer"
Requires minor version bump  and default to Jason.

This will allows applications w/o Poison installed to use another library to encode/decode responses.

[2019-01-13 22:15] #445 closed

[2019-01-13 22:19] #429 closed

[2019-01-14 16:30] snewcomer commented on #440
2.2.2 was released!  Now onto 2.3 (hopefully soon)

[2019-01-14 16:30] #440 closed

[2019-01-14 16:42] snewcomer opened #448 "Evaluate registering current global environmental options"
Here is a lit of env options.  Not all, but potentially could be an issue with the `api_` env options.

- json_library
- api_base_url
- api_upload_url
- api_key
- http_module ?

In line with these recommendations - https://hexdocs.pm/elixir/library-guidelines.html#avoid-application-configuration

This would most likely require a `3.0` release.

Ref #447

[2019-01-17 18:37] dnsbty commented on #441
@pozhega I just created a PR to add this to the documentation, but you should be able to do
[code]

[2019-01-18 04:28] jdrakes opened #454 "Jason encoder support"
Are there any plans to support Jason encoder for stripe structs?

[2019-01-18 05:13] snewcomer commented on #454
We should make it the default, but for now `config :stripity_stripe, json_library: Jason`

Also just realized I need to improve the readme.  Sorry about that.  Will redo a bit of it tomorrow.

[2019-01-18 06:15] #438 closed

[2019-01-18 06:18] snewcomer commented on #454
At this point, yes #446.  Would need @begedin to push up a new release when he has a moment. `v2.3.0`.

[2019-02-04 21:51] susana-garcia opened #456 "Error on loading api_key env variable with function"
# Problem
As described in the Readme file, you can load the `api_key` with a function:
`config :stripity_stripe, api_key: fn -> System.get_env("STRIPE_SECRET") end`

## Error message
I get the following error by using this on heroku production build
[code]

# Solution
I could solve this problem by removing the function and passing it directly like this:
`config :stripity_stripe, api_key: System.ge

[2019-02-05 04:21] snewcomer commented on #456
https://github.com/code-corps/stripity_stripe/pull/447

@monorkin 👋 Did you end up using a dynamically configured variable?  Looks like an error popped up when @susana-garcia tried it.  Just curious.

[2019-02-06 05:47] sc4224 opened #458 "Stripe.Connect.OAuth.token Error: The request was unacceptable, often due to missing a required parameter."
I got an error The request was unacceptable, often due to missing a required parameter. When I called the Stripe.Connect.OAuth.token function. I entered a code, like this:

`resp = Stripe.Connect.OAuth.token(input.code)`

Where input.code is the code that I got from the redirect. I received an error 400 from that.

If there is something else I need to do, please tell me, and change the documentati

[2019-02-06 21:33] #458 closed

[2019-02-14 08:00] bobwaycott opened #459 "Stripe.Relay.Product + Converter returns incorrect struct"
Hey, been working with stripity-stripe for a bit on a new product, and I've encountered unexpected functionality and/or a bug. If I understand the library correctly, it appears a user is expected to use `Stripe.Product` for subscription products, and `Stripe.Relay.Product` for ordered products.

Unfortunately, it looks like `Converter.convert_stripe_object` returns an incorrect struct when working

[2019-02-14 23:32] tiagodavi opened #460 "How can I test AUTHORIZATION_CODE ?"
Hey guys! Thank you for this great library.

Does anyone know how I can test my redirect_url? Stripe provides us an authorization code, but is there a fake authorization in somewhere? Can I generate a fake authorization code? How?

Step 3 - redirect to my website. I would like to test this scenario.
https://stripe.com/docs/connect/express-accounts

https://stripe.com/connect/default/oauth/test?cod

[2019-02-16 19:01] snewcomer commented on #460
I guess a few options, although no specific examples :(.  The lowest level test could be just testing a config variable is equal to a hard coded string.  You can also set a test config variable and [mock](https://github.com/plataformatec/mox) out the existing request to stripe and return that test request url in the mocked endpoint, asserting that it is returned.

Any other thoughts based on those

[2019-02-16 19:09] snewcomer commented on #459
@bobwaycott Yep that is a good find and we don't have a test for it [here](https://github.com/snewcomer/stripity_stripe/blob/master/test/stripe/util_test.exs)

Here is a somewhat similar [PR](https://github.com/code-corps/stripity_stripe/pull/439/files#diff-5f64bc059f059b08e9a71e72c4e48409R54) I did for file_upload./, but not exactly.  Would ❤️ a PR is you have time!

[2019-02-16 19:49] bobwaycott commented on #459
Hey @snewcomer, happy to submit a PR.

Quick question--I notice the existing `Stripe.Relay.ProductTest` module specifically is matching on results being `Stripe.Product`. Should I take that to be intentional, or do you agree that `Stripe.Relay.Product` functions should always return a `Stripe.Relay.Product`?

[2019-02-16 20:02] bobwaycott commented on #459
Going to provide a little more context/info in a separate comment (instead of continuing to edit the same comment):

Stripe has two notions of a `Product` -- a `good` or a `service`. They both use the same API endpoint. There are a few key differences that apply based on the type of `Product`:

- `Product.type == good` is expected to have `SKU`s attached to provide pricing, and those `SKU`s are ex

[2019-02-25 19:05] zgohr opened #462 "`Stripe.Connect.OAuth.deauthorize` bombs with 401"
The `deauthorize` request goes through `oauth_request` and not `perform_request` of the API module. As such, the API/secret key isn't sent with the request and will always bomb with 401 from Stripe.

If there's a preferred way to resolve this I can put together a PR, just let me know.

[2019-02-26 15:11] kerryjj opened #463 "In 2.2.1 and 2.2.2 Stripe.Customer is missing the business_vat_id field"
According to the readme stripity_stripe 2.2.x should work with stripe API version 2018-05-21.

However this change in Stripe API change 2018-08-23 seems to be in release 2.2.1 and 2.2.2

- business_vat_id field was changed from String to Hash called tax_info, consisting of tax_id and type, in both requests and responses.

At least the business_vat_id field is missing in 2.2.1 and 2.2.2 whereas it'

[2019-02-26 21:48] jacobparry opened #464 "Network Error occurs even if proxy is defined in the configs."
We are getting this error when trying to make a request:

Error: {:error, %Stripe.Error{code: :network_error, extra: %{hackney_reason: :ehostunreach}, message: "An error occurred while making the network request. The HTTP client returned the following reason: :ehostunreach", request_id: nil, source: :network, user_message: nil}}

I have the config set in our prod.exs to use our proxy that we have

[2019-02-27 01:27] snewcomer commented on #464
@jacobparry What version of this library are you on?

[2019-02-27 05:38] snewcomer commented on #462
@zgohr Yeah I think you found a bug!  A PR would be very welcome.  I can get to it this Friday if you don't have time so just lmk.

https://stripe.com/docs/connect/oauth-reference#post-deauthorize

[2019-03-04 16:03] #462 closed

[2019-03-16 21:45] spunkedy commented on #456
I just ran into this issue. I had to switch my deps to:

[code]
Could we get a release cut for the documentation on master to match what is released?

[2019-03-16 21:49] monorkin commented on #456
Hey! My apology I somehow missed this conversation. Yes I use the dynamic config daily since it was merge. I’ll take a look at the issue in about 8h, it’s late here.

March 16, 2019 10:45 PM, "Ed Bond"  wrote:
	I just ran into this issue. I had to switch my deps to:

	 {:stripity_stripe, git: "https://github.com/code-corps/stripity_stripe (https://github.com/code-corps/stripity_stripe)"},

	Could

[2019-03-16 22:15] spunkedy commented on #456
No worries! I am not in a rush, I just don't like being on a master branch for too long :)

[2019-03-17 07:21] monorkin commented on #456
@snewcomer again, my apology for the late reply. This is a mismatch between the released version and the master branch. As @spunkedy said, this works as described on `{:stripity_stripe, git: "https://github.com/code-corps/stripity_stripe"}` but fails on `{:stripity_stripe, "~>2.2.2"}`. I've switched to `{:stripity_stripe, git: "https://github.com/code-corps/stripity_stripe", ref: "24c2f939af8b8c4c

[2019-03-21 09:50] jnylen opened #474 "Update hackney requirement to 1.15"
Hi,
You should up the dependency requirement of hackney to 1.5.0 if possible.

[2019-03-21 13:27] snewcomer commented on #474
PRs are welcome

[2019-03-25 15:25] #474 closed

[2019-03-27 12:14] dipth opened #476 "Returns network_error even though the request is successful"
We've started seing a lot of error-responses from stripity_stripe that looks like this:

[code]

But when we look in the Stripe dashboard, the requests did go through successful.
This effectively means that we're charging users even though it appears that the payment failed on our end.

Code that is failing:
[code]

Config:
[code]

Version:
[code]

[2019-03-27 14:04] dipth commented on #476
User master from github also doesn't change anything:

[code]

It doesn't appear that the timeout of 60 seconds that we've set in the config is respected...

[2019-03-29 17:42] snewcomer commented on #454
This has been merged. For now, we need to reference the commit sha as I don't have hex publish rights yet.

[2019-03-29 17:42] #454 closed

[2019-03-29 17:46] snewcomer commented on #243
no more httppoison!

[2019-03-29 17:46] #243 closed

[2019-03-29 17:48] snewcomer commented on #60
Haven't heard this issue bubble up lately so closing!

[2019-03-29 17:48] #60 closed

[2019-03-29 17:49] snewcomer commented on #103
this is possible!  https://stripe.com/docs/api/invoices/list

[2019-03-29 17:49] #103 closed

[2019-03-29 17:50] snewcomer commented on #183
Fixed!

[2019-03-29 17:50] #183 closed

[2019-03-29 17:51] snewcomer commented on #126
Going to close this for now as 2.x has been released and missing modules/attributes have been reported by users!

[2019-03-29 17:51] #126 closed

[2019-04-02 17:35] kwayebopp opened #477 "Stripe.Connect.OAuth only creates connect button urls in livemode"
I'm trying to manually test the Stripe Connect onboarding for my app. We're using the test mode Connect client ID, but on filling out the form, we get an error for using test values in live mode. Is there a parameter to specify that we want test mode urls?

[2019-04-02 19:33] kwayebopp commented on #477
Resolved it on my own, just figured out that you don't need to fill out the connect sign up form in development mode.

[2019-04-02 19:33] #477 closed

[2019-04-08 16:53] Kartstig opened #478 "Allow for token on Stripe.Customer.create/1 / Stripe.Customer.create/2"
According to the [Stripe Customer Documentation](https://stripe.com/docs/api/customers/create), a token can be passed into this endpoint which will create a new default payment source for the customer:
![Screenshot from 2019-04-08 12-43-23](https://user-images.githubusercontent.com/2031422/55741804-23470b80-59fc-11e9-80f8-a41a3e03dfe2.png)

Currently, this method accepts a `Stripe.Source.t()`, but

[2019-04-08 19:33] Kartstig commented on #478
It seems to be working fine with the specified workaround, however, Dialyzer is yelling at me

[2019-04-13 15:29] GildedHonour opened #479 "How can I provide api key dynamically, not via config?"
How can I provide api key dynamically, not via config?

[2019-04-13 17:47] snewcomer commented on #479
See #447

[2019-04-13 18:06] GildedHonour commented on #479
### not via config

[2019-04-13 18:30] snewcomer commented on #479
my bad.  Yeah so say you want to pay an invoice with an api key.  You can pass `api_key: xxx` as the 3rd arg to `pay`.  Now looking at it, that should really be in the docs....

https://github.com/code-corps/stripity_stripe/blob/master/lib/stripe/subscriptions/invoice.ex#L248

[2019-04-13 21:24] GildedHonour commented on #479
And for each call I'll have to provide an api key again.

I want to be able to provide it once, but not via config, but dynamically

[2019-04-19 01:54] kminevskiy opened #481 "Some %Charge{} object keys are ignored"
Hi,

I'm creating a a new charge and what I'm getting back in response is a struct, but with missing `receipt_url` field - for some reason it's being ignored during conversion (debug message lists this field among others). Is there any specific reason why this is happening?

[2019-04-19 15:30] snewcomer commented on #481
I don't see anything specific.  It should be serialized properly.  What version/commit sha are you on?

https://stripe.com/docs/api/charges/create

[2019-04-19 15:33] snewcomer commented on #479
So you want to set a global config at runtime?

Application.put_env/3 may help.

[2019-04-19 16:23] kminevskiy commented on #481
I'm on `2.2.2`. Here's the actual charge:

`Charge.create(%{amount: amount, currency: "usd", source: token})`

And here's the response:

I was actually using `2.0.0` before and that's when I was having those debug messages with ignored fields. Now, after upgrading to `2.2.2` I no longer see the message, but field is still not in the response.

[2019-04-19 16:26] kminevskiy commented on #481
Just checked Stripe's dashboard and, as expected, the `receipt_url` field is there.

[2019-04-19 16:47] snewcomer commented on #481
Perfect.  So you have the data after it was converted.  What about the response from Stripe before we converted it to a struct?  (or was that the `debug` you mentioned earlier)

[2019-04-20 01:10] kminevskiy commented on #481
OK, updating to the latest version (git commit) resolved the issue. Thank you!

[2019-04-20 01:10] #481 closed

[2019-04-22 02:58] acconrad opened #482 "Stripe.SubscriptionItem.Usage missing"
I've got the latest (`2.2.2`) version and when running `mix deps.get` my `deps/stripity_stripe` plugin is missing the `usage.ex` file:

<img width="248" alt="Screen Shot 2019-04-21 at 10 57 52 PM" src="https://user-images.githubusercontent.com/422184/56480632-71531900-64aa-11e9-8ae2-fea2dbb3d98a.png">

It seems to be the only file missing. Might the version need to be bumped to get this to appear

[2019-04-22 06:45] maartenvanvliet commented on #482
Yes, `usage.ex`  was added (https://github.com/code-corps/stripity_stripe/commit/0c94360a265de1aba1843abf1e49ad684a48e96c#diff-7a99a3887798a649fa8bdf73c8b25c42) after the last release. You can point to the `master` branch in your `mix.exs` if you want to use the latest version.

[2019-04-22 14:07] acconrad commented on #482
@maartenvanvliet would it be worth a patch bump to `2.2.3` just in case?

[2019-04-22 14:30] snewcomer commented on #482
@acconrad Have been trying to get hex permissions from @joshsmith when he has a moment.  Once he does, hopefully we can cut some releases!

[2019-04-30 14:14] kerryjj opened #484 "Support for Stripe API version 2019-03-14"
Hi,

I'm considering upgrading stripe API versions to 2019-02-19 and/or 2019-03-14. I can't see any branches that might indicate they are available or being worked on already.

Are there plans to support these later versions? Do you know of anyone working on these already who I might be able to help out?

[2019-04-30 15:29] snewcomer commented on #484
Ref #483

[2019-05-01 14:14] kerryjj commented on #484
OK Cheers @snewcomer

FYI: I'm currently working on upgrading our stripe API to 2019-03-14 and have a fork & branch that I'm currently testing out here:

https://github.com/blendmedia/stripity_stripe/tree/stripe-api/2019-03-14

Let me know if you'd eventually like me to submit this as a PR.

[2019-05-03 19:38] snewcomer commented on #484
@kerryjj Looked through the commit history!  Looks great!  Mind making a PR with the last two?  Would you mind reviewing #483 or should I close it in favor of your work?  Honestly doesn't matter to me :).  If you believe your work is better, I'd be super happy to close 483

[2019-05-07 08:43] kerryjj commented on #484
I also don't mind either way as well. :)

Sorry I missed #483 before starting on these changes.

I see that there is some stuff that you've done in #483 that I haven't.

I'm not quite finished making changes to the branch I'm working on as I'm testing specific flows around creating custom stripe accounts and updating Person records.

Once I'm happy that my branch is working I'll create a PR that w

[2019-05-08 14:21] jcartwright opened #489 "Support for Stripe Issuing"
My company is utilizing Stripe's Issuing APIs and I'd like to leverage stripity_stripe to avoid reinventing the wheel. I'm wondering if anyone else is working on this, or if it makes sense for my team to contribute our efforts here.

[2019-05-08 15:15] snewcomer commented on #489
@jcartwright Yes please!  @kerryjj Is this something you have in the works?

[2019-05-09 08:44] methyl commented on #476
We started to see this problem as well, it seems it's present only on the test Stripe environment but I cannot tell that for sure.

[2019-05-09 09:36] methyl commented on #476
For the time being you can use https://github.com/methyl/stripity_stripe/tree/httpotion which uses httpotion instead of hackney and fixes the timeout issue

[2019-05-09 09:38] dipth commented on #476
We observed this in the production environment on Stripe.
We have however not seen any instances for the last week or two, which tells me that Stripe has been optimizing the response times of their API, but that is of course no guarantee that their API wont be slow at any point in the future again.

[2019-05-09 09:40] methyl commented on #476
Did you find any way to mitigate this in current stripity_stripe version? I would love to avoid using the forked version.

[2019-05-09 09:42] dipth commented on #476
No, we basically had to change our code to separate the capturing of the charge from the creation of it, so that in the cases where it would fail the customer would not actually be charged but would instead leave and uncaptured charge that we would then have to manually resolve and capture.

[2019-05-10 08:51] kerryjj commented on #489
Hi,

Stripe Issuing isn't something I'm working on at the moment.

I'm mainly working with the Account, Persons, Charge, Refund, Payout APIs at the moment.

[2019-05-10 14:04] jcartwright commented on #489
@snewcomer @kerryjj I've got my PR #493 up and ready for review. Let me know if there's anything else I need to do to get it merged. Happy to do whatever is needed.

[2019-05-12 15:07] maartenvanvliet commented on #482
https://github.com/code-corps/stripity_stripe/releases/tag/2.2.3 Release has been made, issue can be closed

[2019-05-12 15:20] #482 closed

[2019-05-17 18:58] bmfay commented on #476
I have been experiencing this too.  Quite frustrating..  may have to go with the forked HTTPotion approach...

[2019-05-17 20:11] snewcomer commented on #476
I'm not sure if this is still this way, but HTTPotion may not perform server cert verification by default.

https://blog.voltone.net/post/7

[2019-05-20 13:33] bmfay commented on #476
@snewcomer good point.  Any idea if there is any plan to address the timeout issue?  It seems likely that this is impacting a lot of people (and probably quite a few who are unaware).  Not clear whether it's on the radar of authors / main contributors.

[2019-05-21 01:49] mcade opened #497 "How to get extra keys that were received but ignored?"
I get the warning `[debug] Extra keys were received but ignored when converting Stripe.Customer: [:address, :name, :phone, :preferred_locales, :tax_exempt, :tax_ids]` after converting a webhook to an event using `construct_event/4`.

I want to use data from the extra keys that are being ignored. How can I make sure keys aren't ignored?

[2019-05-21 07:05] maartenvanvliet commented on #497
You can file a PR where you add the extra keys to the Stripe.Customer struct

[2019-05-22 20:30] snewcomer commented on #484
@kerryjj Hi 👋 Any updates with your branch?  Thanks for keeping this library in mind ;)

[2019-05-24 06:33] maartenvanvliet commented on #497
Issue can be closed

[2019-05-25 03:50] #497 closed

[2019-05-25 03:56] mcade opened #501 "Update poison dependency"
Since stripity_stripe is locked down to `~> 2.0 or ~> 3.0` for poison, any libraries using newer version of poison(~> 4.0) can't be used in conjunction with stripity_stripe.

[code]

[2019-05-26 13:18] maartenvanvliet commented on #359
This issue can be closed :)

[2019-05-27 16:25] #359 closed

[2019-05-28 20:46] #489 closed

[2019-05-29 17:43] maartenvanvliet commented on #501
Rather than update `poison` I suggest a change to `Jason` as the JSON encoder. It is faster, and by now most libraries have adopted it over `poison`. It is still configurable for the end user but imo a more reasonable default.

[2019-05-29 17:45] maartenvanvliet commented on #464
I think this one can be closed, unless it's still a problem

[2019-05-29 18:49] mcade commented on #501
I have Jason configured as the json library but poison is still a required dependency.

[2019-05-30 21:38] robmadole commented on #476
For what it's worth we are experiencing similar issues and I've worked around it by passing `opts` in to each API call.

Like this:

[code]

[2019-06-03 15:07] #501 closed

[2019-06-03 22:43] whitepaperclip commented on #124
@joshsmith @begedin I started working on something, see here: https://github.com/whitepaperclip/stripe_mock

It starts an http server in your app's test env and tries to respond as accurately as possible to requests. Handles authentication and pagination, and stores everything in memory so no database is needed.

It's extremely primitive right now and I'm not even sure if this is useful to anyone,

[2019-06-09 08:49] maartenvanvliet commented on #456
Can this be closed? Version https://hex.pm/packages/stripity_stripe/2.3.0 has been released since and should contain this feature

[2019-06-09 08:53] maartenvanvliet commented on #463
Stripe has revised their vat fields, a customer can now have the `tax_ids` fields.

Can this be closed? Don't think it's relevant anymore.

[2019-06-09 08:53] maartenvanvliet commented on #460
I think this can be closed now

[2019-06-09 11:02] #463 closed

[2019-06-09 11:02] #456 closed

[2019-06-10 00:57] dnsbty commented on #484
@snewcomer looks like this issue can probably be closed now

[2019-06-10 01:02] dnsbty commented on #479
@GildedHonour did that solve your problem?

Also with regards to your comment on Apr 13 @snewcomer I actually added the `api_key` option to the docs in a PR a while back. Maybe this wasn't the most discoverable place to put it though:

https://hexdocs.pm/stripity_stripe/Stripe.html#module-shared-options

[2019-06-10 12:27] #484 closed

[2019-06-10 12:41] snewcomer commented on #479
Perfect. Yep you are right! Perhaps we just need to link that here - https://hexdocs.pm/stripity_stripe/Stripe.API.html#request/5

[2019-06-10 20:12] maartenvanvliet commented on #220
Has been implemented, see: https://github.com/code-corps/stripity_stripe/blob/master/lib/stripe/connect/country_spec.ex

Issue can be closed

[2019-06-11 00:02] #220 closed

[2019-06-11 00:10] #306 closed

[2019-06-11 13:47] #430 closed

[2019-06-13 16:05] kerryjj commented on #484
Hi guys, sorry I didn't get a chance to get back to this one.

Looks like you have the Person records now. Need anything from me?

[2019-06-19 15:53] kerryjj opened #516 "Stripe.Util.map_keys_to_atoms error on unknown keys"
If a Stripe API response returns any json key string that isn't in the code or library as an atom already we receive the following error.

` nofile :erlang.binary_to_existing_atom/2
 stripity_stripe lib/stripe/util.ex:34 anonymous fn/1 in Stripe.Util.map_keys_to_atoms/1
 elixir lib/map.ex:210 Map.new_transform/3
 stripity_stripe lib/stripe/api.ex:176 Stripe.API.request/5
 stripity_stripe lib/strip

[2019-06-22 13:11] begedin commented on #516
I'm fine with this change. I believe I may be the author of the original code and in all honesty, the opt for `.to_existing_atom` came from not fully understanding it, since I was new to elixir at that time.

[2019-06-29 20:16] DavidVII opened #517 "Extra keys warning"
I'm starting to get extra keys warning after upgrading to 2.4. Everything appears to be working as expected. Did I miss a step when upgrading to the latest release (2.4)?

Here are the warnings I'm getting:

[code]

Is this something I need to fix on my end or are there parts of the library that need updating? I'm happy to help any way I can, but I thought I'd ask here before digging any deeper.

[2019-06-29 20:23] DavidVII commented on #517
It just occurred to me to check the structs in the lib. It appears there's a discrepency between the keys.

For example, a Stripe Customer has a `balance`, but the `Stripe.Customer` struct has an `account_balance` key. Seems to be the same for the other keys as well.

I might have some time to open up a PR and update these over the weekend.

[2019-07-01 03:44] snewcomer commented on #517
@DavidVII Yep a PR would be appreciated.  Looking at the docs, they are noting that `account_balance` will be remove in future versions.  With the version we are on, it seems like either works.

https://stripe.com/docs/api/customers

[2019-07-01 05:21] DavidVII commented on #517
Sounds good, @snewcomer. I didn't get a chance to work on it this weekend, but I'll have some time to look into it in the next couple of days. I'll work on getting a PR together.

[2019-07-08 14:01] benonymus opened #518 "how to create a direct charge?"
How do you need to add the Stripe-Account header in order to create a charge for a connected account?
https://stripe.com/docs/connect/direct-charges#collecting-fees
Because this way:
`    Stripe.Charge.create(
      %{
        amount: source.amount,
        currency: source.currency,
        metadata: source.metadata,
        source: source,
        application_fee_amount: 100
      },
      strip

[2019-07-08 21:30] pwcsquared opened #519 "Creating a card with cardholder as a cardholder struct throws"
The spec for `Stripe.Issuing.Card.create/2` specifies an optional cardholder struct as a param:
`optional(:cardholder) => Stripe.Issuing.Cardholder.t()`
but actually passing in a cardholder struct throws `protocol Enumerable not implemented for %Stripe.Issuing.Cardholder{}`. Passing just cardholder.id as cardholder in the params works, though.

Seems that it's getting stuck here:
`lib/uri_query.ex

[2019-07-09 08:29] benonymus commented on #518
you do it like this:

`Stripe.Charge.create(
      %{
        amount: source.amount,
        currency: source.currency,
        metadata: source.metadata,
        source: source,
        application_fee_amount: 100
      },
      connect_account: "acct_xxxxxxxxxxxxxxxxxx"
    )`

and don't forget to add the connected_account when you want to retrieve the source as the 3rd param

[2019-07-09 08:29] #518 closed

[2019-07-11 14:25] john-griffin opened #521 "Can checkout_sessions_beta be removed from api_version now?"
`checkout_sessions_beta=v1` is still being sent in the api version header. Is it safe to remove that now? https://stripe.com/docs/payments/checkout/migration-from-beta

[2019-07-26 18:16] #478 closed

[2019-07-29 22:11] doughsay opened #525 "Please Release"
Hi! Sorry to bug:  Can we get a new release? Dialyzer doesn't pass in our project because we use the `name` and `phone` fields on the `Customer` object. These have been recently added to the typespec, but not yet included in a release. Thanks!

[2019-07-30 16:07] jcartwright commented on #519
@pwcsquared I think I know how to fix this.

[2019-07-30 17:04] #519 closed

[2019-08-23 17:05] jeffjewiss commented on #521
Hi, I wanted to check in on this. We're getting emails from Stripe customer support about the checkout beta being deprecated soon. I initially thought it was a mistake since I didn't configure anything in our app related to the beta, but found the hard coded header in this library.

Would you accept a PR to remove the checkout beta header? Could this be made a configurable option for the Stripe AP

[2019-08-23 18:25] maartenvanvliet commented on #521
Ran into the same issue, so made a PR to make it configurable

[2019-08-23 18:46] #521 closed

[2019-08-24 09:36] maartenvanvliet commented on #479
I've added `:api_key` in `Stripe.API.request/5` as part of (https://github.com/code-corps/stripity_stripe/commit/ae8b7730093e41dd63e586dc9b61f44980c51ca8#diff-b7c1871d762f030cff5a0588370def9dR158)

So think this issue can be closed.

[2019-08-24 15:10] #479 closed

[2019-08-24 15:10] #525 closed

[2019-08-24 15:24] snewcomer commented on #521
Should be available in 2.5!

[2019-09-12 02:54] batate opened #541 "SubscriptionItem: Allow bill_immediately for alavara integration."
Sales tax integration from Avalara requires an optional field called bill_immediately to be set to false.

Any reasons not to support this?

Here's the background:

https://help.avalara.com/Frequently_Asked_Questions/Stripe_Invoicing_FAQ/How_do_I_set_tax_to_be_displayed_separately_from_the_price%3F

[2019-09-13 07:52] kradydal opened #542 "Subscription - Checkout Session"
I'm trying to implement subscription with a new checkout. To do this, I need to create a checkout session for existing stripe customer. When I try to create a checkout session with `Stripe.Session` I receive an error response from Stripe that I use Checkout beta.
[code]
Do you know how can I resolve this error? I read Stripe docs about migration from Checkout beta, but it isn't helpfull at all.

[2019-09-13 09:33] kradydal commented on #542
It has occurred I had the old version of Stripe API, updating to the latest stripity-stripe version fixed the error.

[2019-09-13 09:33] #542 closed

[2019-11-04 13:27] mpoeter commented on #517
This has been fixed in PR #552.

We also have a lot of these warnings in our production logs which is really anoying. Do you have an ETA for a new release that will include this fix?

[2019-11-06 22:42] lukashambsch opened #559 "Data lost when constructing Stripe.Session event"
Version: 2.4.0

It looks like some keys are being lost when using `construct_event`. I'm using it for a `Stripe.Session` event and `event.data.object` only has `id`, `livemode`, and `object` properties. There are additional properties listed for `Stripe.Session` in the [docs](https://hexdocs.pm/stripity_stripe/Stripe.Session.html#t:t/0).

In my logs, I'm also seeing the following message:
[code]

[2019-11-07 23:15] lukashambsch commented on #559
Nevermind. Looks like there is a newer version where those extra fields were added. `2.4.0` was the latest I saw in the readme, so I assumed it was the latest version. But once I upgrade to `2.7.0` everything worked perfectly.

[2019-11-07 23:15] #559 closed

[2019-11-13 16:10] jcartwright opened #560 "Support for Issuing Balance"
Stripe Issuing now supports a separate Balance specifically for funding issuing transactions. The current `Stripe.Balance.retrieve()` doesn't return the issuing balance. I haven't looked into it in detail yet, but I'll put up an MR with changes to support the new balance.

[2019-11-15 10:20] slashdotdash commented on #476
Release v2.5.0 included support to [pass Hackney options from config](https://github.com/code-corps/stripity_stripe/pull/506):

[code]

[2019-11-18 07:16] ClementineOldfield opened #561 "collection_method missing from create_params in Stripe.Invoice docs"
The docs specify the following attributes for creating a `Stripe.Invoice`

https://github.com/code-corps/stripity_stripe/blob/caa2d8dda5673e84fc5540856e9fae6b987dfe84/lib/stripe/subscriptions/invoice.ex#L182-L198

It is still possible to pass in a `collection_method` as specified in the Stripe API but it would be nice to have it detailed here.

[2019-11-18 07:22] maartenvanvliet commented on #561
could you file a pr?

[2019-11-18 22:40] ClementineOldfield commented on #561
Sure thing

[2019-11-25 21:36] mindreader opened #564 "Stripe error idempotency_key_in_use"
stripety_stripe 2.7.0

We managed to get this error from a Stripe.Subscription.Item.create call.  I guess stripe took too long to process the call, so stripety_stripe retried.  It seems like it might make sense to catch this particular error and simply retry again until retries are reached.

[code]

[2019-11-25 21:40] mindreader commented on #564
After looking at it closer, stripety_stripe already handles this error appropriately.  It must have run out of connection attempts and then returned this error.  I'll go ahead and close this.

[2019-11-25 21:57] mindreader commented on #564
I'm reopening this because I realized it wasn't the fact that stripe was too slow, it was the fact that stripety_stripe gave up after 3 attempts, despite stripe replying quickly, and so it probably only tried for a very small amount of time before giving up, but there's no way to force it to wait longer.

Perhaps there should be a `minimum_attempt_time_for_successful_response` option or something

[2019-11-30 22:19] danieljaouen opened #566 "[Documentation] Provide an intro tutorial"
After browsing both Stripe's API and the Stripity Stripe documentation, I am still unclear on how to:

1. Charge a card given its information (number, CVV, etc.), and
2. Store that card on Stripe's servers for PCI compliance

Would it be possible to give an introductory tutorial on how to use the library either in the GitHub readme or in the official documentation?

Thanks.

[2019-12-03 19:52] #564 closed

[2019-12-09 00:34] snewcomer commented on #476
As mentioned, this was released in `v2.5.0`!  Lmk if you have any other questions for feature requests...

[2019-12-09 00:34] #476 closed

[2020-01-05 22:29] invacto opened #568 "Stripe.Session subscription_data required keys should be optional"
When using Stripe.Session.create/1 with the key "subscription_data" the keys "metadata", "trial_end" and "trial_period_days" are not set as optional.
These should be optional according to the Stripe API.

https://hexdocs.pm/stripity_stripe/Stripe.Session.html#t:subscription_data/0

[2020-01-28 09:57] tmstieff commented on #566
I can provide a more advanced write up in a bit, but it is suggested to use the setup / payment intents now instead of the simple token flow. Unfortunately it is a little more involved, especially on the frontend side, and I have some open questions regarding that myself. For the token flow, which can still be used for North American payments, see below.

[code]

This excludes any error handling,

[2020-02-03 22:26] jmpressman commented on #566
I second that this would be a great resource to have, particularly documentation/examples surrounding the Setup Intents API seeing as that is the new standard to aim for.

[2020-02-07 23:06] dnsbty commented on #409
This was solved in #461

[2020-02-07 23:13] dnsbty commented on #192
Just wanted to bump this issue.

Stripe's docs state that [most of their official clients support auto-pagination](https://stripe.com/docs/api/pagination/auto?lang=ruby). It would be really nice to have those in StripityStripe as well.

I would be happy to contribute this if I could get some direction on how we want to do it. Maybe just an `auto_paging` option added to the shared options for GET r

[2020-02-07 23:16] #409 closed

[2020-02-19 14:22] marceldegraaf opened #579 "Cannot encode Stripe structs with Jason"
We're using Phoenix with Jason configured as the JSON encoding/decoding library. We've also configured Jason for stripity-stripe:

[code]

However, if we attempt to send a Stripe struct as a JSON response from a Phoenix controller, we see the following error:

[code]

[code]

Instead, we need to do explicitly encode and decode the `%Stripe.Source{}` struct with Poison to make this work:

[code]

A

[2020-02-19 20:43] overture8 opened #580 "Error when trying to create customer with coupon code"
When I try to create a customer with the following...

[code]

I get the error below. I've checked the Stripe API and it says coupon can be passed through (https://stripe.com/docs/api/customers/create). I've tried retrieving and passing the actual Coupon object as well - it ends up with the same error.

[code]